# 정렬
## index이름, column 이름을 기준으로 정렬

- <b style='font-size:1.2em'>sort_index(axis, ascending=True)</b>
    - axis
        - index 이름 기준 정렬(행) : 'index' 또는 0 (기본값)
        - columnm 이름 기준 정렬(열) : 'columns' 또는 1
    - ascending
        - 정렬방식
        - True(기본): 오름차순, False: 내림차순
    - inplace
        - 원본에 적용 여부
        - False(기본): 변경한 복사본 반환 
        - True : 원본을 변경

In [3]:
import pandas as pd

df = pd.read_csv('data/movie.csv', index_col='movie_title')   # 무비 타이틀로 정렬하겠다!!
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [5]:
# sort_index() -> index name 으로 정렬
df.sort_index(axis=0)   # 행으로 정렬(axis=0)
df.sort_index(ascending=False)  # 내림차순 정렬(default: 오름차순)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Æon Flux,Color,Karyn Kusama,178.0,93.0,45.0,352.0,Sophie Okonedo,9000.0,25857987.0,Action|Sci-Fi,...,532.0,English,USA,PG-13,62000000.0,2005.0,460.0,5.5,2.35,0
xXx: State of the Union,Color,Lee Tamahori,77.0,101.0,93.0,218.0,Nona Gaye,287.0,26082914.0,Action|Adventure|Crime|Thriller,...,213.0,English,USA,PG-13,87000000.0,2005.0,233.0,4.3,2.35,0
xXx,Color,Rob Cohen,191.0,132.0,357.0,212.0,Eve,14000.0,141204016.0,Action|Adventure|Thriller,...,737.0,English,USA,PG-13,70000000.0,2002.0,223.0,5.8,2.35,10000
eXistenZ,Color,David Cronenberg,196.0,115.0,0.0,716.0,Sarah Polley,1000.0,2840417.0,Horror|Sci-Fi|Thriller,...,527.0,English,Canada,R,31000000.0,1999.0,900.0,6.8,1.85,6000
[Rec] 2,Color,Jaume Balagueró,222.0,85.0,57.0,6.0,Pablo Rosso,37.0,27024.0,Horror,...,148.0,Spanish,Spain,R,5600000.0,2009.0,9.0,6.6,1.85,4000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"10,000 B.C.",NaN,Christopher Barnard,NaN,22.0,0.0,NaN,NaN,5.0,NaN,Comedy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0
10 Things I Hate About You,Color,Gil Junger,133.0,97.0,19.0,835.0,Heath Ledger,23000.0,38176108.0,Comedy|Drama|Romance,...,549.0,English,USA,PG-13,16000000.0,1999.0,13000.0,7.2,1.85,10000
10 Days in a Madhouse,Color,Timothy Hines,1.0,111.0,0.0,247.0,Kelly LeBrock,1000.0,14616.0,Drama,...,10.0,English,USA,R,12000000.0,2015.0,445.0,7.5,1.85,26000
10 Cloverfield Lane,Color,Dan Trachtenberg,411.0,104.0,16.0,82.0,John Gallagher Jr.,14000.0,71897215.0,Drama|Horror|Mystery|Sci-Fi|Thriller,...,440.0,English,USA,PG-13,15000000.0,2016.0,338.0,7.3,2.35,33000
#Horror,Color,Tara Subkoff,35.0,101.0,37.0,56.0,Balthazar Getty,501.0,NaN,Drama|Horror|Mystery|Thriller,...,42.0,English,USA,Not Rated,1500000.0,2015.0,418.0,3.3,NaN,750

In [9]:
# 컬럼명으로 정렬
df.sort_index(axis=1)  # 열으로 정렬
df.sort_index(axis=1, ascending=False) # 내림차순 정렬(default: 오름차순)

,title_year,plot_keywords,num_voted_users,num_user_for_reviews,num_critic_for_reviews,movie_imdb_link,movie_facebook_likes,language,imdb_score,gross,...,color,cast_total_facebook_likes,budget,aspect_ratio,actor_3_name,actor_3_facebook_likes,actor_2_name,actor_2_facebook_likes,actor_1_name,actor_1_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,avatar|future|marine|native|paraplegic,886204,3054.0,723.0,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,33000,English,7.9,760505847.0,...,Color,4834,237000000.0,1.78,Wes Studi,855.0,Joel David Moore,936.0,CCH Pounder,1000.0
Pirates of the Caribbean: At World's End,2007.0,goddess|marriage ceremony|marriage proposal|pi...,471220,1238.0,302.0,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,0,English,7.1,309404152.0,...,Color,48350,300000000.0,2.35,Jack Davenport,1000.0,Orlando Bloom,5000.0,Johnny Depp,40000.0
Spectre,2015.0,bomb|espionage|sequel|spy|terrorist,275868,994.0,602.0,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,85000,English,6.8,200074175.0,...,Color,11700,245000000.0,2.35,Stephanie Sigman,161.0,Rory Kinnear,393.0,Christoph Waltz,11000.0
The Dark Knight Rises,2012.0,deception|imprisonment|lawlessness|police offi...,1144337,2701.0,813.0,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,164000,English,8.5,448130642.0,...,Color,106759,250000000.0,2.35,Joseph Gordon-Levitt,23000.0,Christian Bale,23000.0,Tom Hardy,27000.0
Star Wars: Episode VII - The Force Awakens,NaN,NaN,8,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,0,NaN,7.1,NaN,...,NaN,143,NaN,NaN,NaN,NaN,Rob Walker,12.0,Doug Walker,131.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,2013.0,fraud|postal worker|prison|theft|trial,629,6.0,1.0,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,84,English,7.7,NaN,...,Color,2283,NaN,NaN,Crystal Lowe,318.0,Daphne Zuniga,470.0,Eric Mabius,637.0
The Following,NaN,cult|fbi|hideout|prison escape|serial killer,73839,359.0,43.0,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,32000,English,7.5,NaN,...,Color,1753,NaN,16.00,Sam Underwood,319.0,Valorie Curry,593.0,Natalie Zea,841.0
A Plague So Pleasant,2013.0,NaN,38,3.0,13.0,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,16,English,6.3,NaN,...,Color,0,1400.0,NaN,David Chandler,0.0,Maxwell Moody,0.0,Eva Boehnke,0.0
Shanghai Calling,2012.0,NaN,1255,9.0,14.0,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,660,English,6.3,10443.0,...,Color,2386,NaN,2.35,Eliza Coupe,489.0,Daniel Henney,719.0,Alan Ruck,946.0
My Date with Drew,2004.0,actress name in title|crush|date|four word tit...,4285,84.0,43.0,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,456,English,6.6,85222.0,...,Color,163,1100.0,1.85,Jon Gunn,16.0,Brian Herzlinger,23.0,John August,86.0

In [10]:
#index 정렬  -> 부분일치 slicing 이 가능.
# 정렬 후 loc indexer 를 사용하면 속도가 빠르다
df.sort_index().loc['A':'B']  #A로 시작하는 영화~~B로 시작하는 영화 앞까지.

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
A Beautiful Mind,Color,Ron Howard,205.0,135.0,2000.0,535.0,Austin Pendleton,1000.0,170708996.0,Biography|Drama,...,1171.0,English,USA,PG-13,58000000.0,2001.0,592.0,8.2,1.85,29000
A Beginner's Guide to Snuff,Color,Mitchell Altieri,NaN,87.0,9.0,165.0,Luke Edwards,467.0,NaN,Comedy|Horror|Thriller,...,NaN,English,USA,NaN,NaN,2016.0,258.0,8.7,NaN,8
A Better Life,Color,Chris Weitz,94.0,98.0,129.0,221.0,Eddie 'Piolin' Sotelo,749.0,1754319.0,Drama|Romance,...,81.0,English,USA,PG-13,10000000.0,2011.0,252.0,7.2,1.85,0
A Bridge Too Far,Black and White,Richard Attenborough,56.0,175.0,0.0,14.0,Dirk Bogarde,385.0,50800000.0,Drama|History|War,...,210.0,English,USA,PG,26000000.0,1977.0,232.0,7.4,2.35,0
A Bug's Life,Color,John Lasseter,117.0,95.0,487.0,1000.0,Madeline Kahn,18000.0,162792677.0,Adventure|Animation|Comedy|Family|Fantasy,...,317.0,English,USA,G,120000000.0,1998.0,1000.0,7.2,2.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Avengers: Age of Ultron,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
Awake,Color,Joby Harold,133.0,84.0,8.0,896.0,Fisher Stevens,4000.0,14373825.0,Crime|Mystery|Thriller,...,196.0,English,USA,R,8600000.0,2007.0,922.0,6.5,2.35,0
Away We Go,Color,Sam Mendes,217.0,98.0,0.0,374.0,Jim Gaffigan,925.0,9430988.0,Comedy|Drama|Romance,...,115.0,English,USA,R,17000000.0,2009.0,472.0,7.1,2.35,7000
Ayurveda: Art of Being,Color,Pan Nalin,15.0,102.0,95.0,NaN,NaN,NaN,16892.0,Documentary,...,12.0,English,India,NaN,300000.0,2001.0,NaN,7.6,1.85,379

## 특정 컬럼(열)의 값을 기준으로 정렬
- <b style='font-size:1.2em'>sort_values(by, ascending, inplace)</b>
    - by
        - **정렬 기준 컬럼이름**을 문자열로 지정
        - 여러 컬럼에 대해 정렬할 경우 리스트에 담아 전달
    - ascending
        - 정렬방식
        - True(기본): 오름차순, False: 내림차순
        - 여러 컬럼에 대해 정렬할 경우 정렬방식도 리스트에 담아 전달
    - inplace
        - 원본에 적용 여부
        - False(기본): 변경한 복사본 반환 
        - True : 원본을 변경
    - 결측치는 방식과 상관없이 마지막에 나온다.

In [12]:
# 감독 이름 기준으로 정렬하겠다. 
df.sort_values('director_name')
df.sort_values('director_name',ascending=False)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Bizarre,Color,Étienne Faure,9.0,98.0,77.0,0.0,Pierre Prieur,19.0,NaN,Drama|Musical|Romance,...,1.0,English,France,Unrated,500000.0,2015.0,0.0,4.3,1.78,114
Sur le seuil,Color,Éric Tessier,9.0,99.0,0.0,6.0,Michel Côté,50.0,NaN,Action|Drama|Horror|Thriller,...,5.0,French,Canada,NaN,3200000.0,2003.0,16.0,6.6,1.85,39
Mambo Italiano,Color,Émile Gaudreault,67.0,92.0,9.0,71.0,Luke Kirby,636.0,6239558.0,Comedy|Drama,...,67.0,English,Canada,R,5000000.0,2003.0,210.0,6.7,1.85,352
The Oxford Murders,Color,Álex de la Iglesia,71.0,104.0,275.0,102.0,Leonor Watling,439.0,3607.0,Crime|Mystery|Thriller,...,94.0,English,Spain,R,10000000.0,2008.0,161.0,6.1,2.35,0
Along the Roadside,Color,Zoran Lisinac,17.0,108.0,0.0,142.0,Brock Baker,431.0,NaN,Comedy|Music|Romance,...,2.0,English,USA,NaN,250000.0,2013.0,297.0,7.1,1.85,231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Heroes,Color,NaN,75.0,60.0,NaN,833.0,Masi Oka,1000.0,NaN,Drama|Fantasy|Sci-Fi|Thriller,...,379.0,English,USA,TV-14,NaN,NaN,923.0,7.7,16.00,0
Home Movies,Color,NaN,11.0,22.0,NaN,6.0,Ron Lynch,59.0,NaN,Animation|Comedy|Drama,...,82.0,English,USA,TV-PG,NaN,NaN,11.0,8.2,1.33,526
Revolution,Color,NaN,23.0,43.0,NaN,576.0,Tracy Spiridakos,2000.0,NaN,Action|Adventure|Drama|Sci-Fi,...,323.0,English,USA,TV-14,NaN,NaN,821.0,6.7,16.00,17000
Happy Valley,Color,NaN,11.0,58.0,NaN,250.0,James Norton,887.0,NaN,Crime|Drama,...,59.0,English,UK,TV-MA,NaN,NaN,340.0,8.5,16.00,10000
The Following,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000

In [83]:
# 상영시간 기준 정렬
df.sort_values('duration')[['duration', 'imdb_score']].head(30)
df.sort_values(['duration', 'imdb_score'])[['duration', 'imdb_score']].head(30)    ## 2차 정렬=> 듀레이션 정렬한 뒤, imdb 정렬한다.
# df.sort_values(['duration', 'imdb_score', 'dirctor_name'])
#                               : duration으로 전체를 정렬. duration이 같은 값들끼리는 imdb_score로 정렬
#                               : 정렬방식 - 셋다 오름차순(기본방식)

                                      duration  imdb_score
movie_title
The Touch                                  7.0         5.2
Shaun the Sheep                            7.0         8.3
Robot Chicken                             11.0         7.8
Vessel                                    14.0         6.2
Wal-Mart: The High Cost of Low Price      20.0         6.8
Sabrina, the Teenage Witch                22.0         6.6
Anger Management                          22.0         6.7
10,000 B.C.                               22.0         7.2
Rules of Engagement                       22.0         7.3
Strangers with Candy                      22.0         8.1
Home Movies                               22.0         8.2
It's Always Sunny in Philadelphia         22.0         8.8
Sonny with a Chance                       23.0         6.1
Star Wars: The Clone Wars                 23.0         7.9
Yu-Gi-Oh! Duel Monsters                   24.0         7.0
Lovesick                                  24.0         7.9
Bewitched                                 25.0         7.6
The Inbetweeners                          25.0         8.4
M*A*S*H                                   25.0         8.4
A Charlie Brown Christmas                 25.0         8.4
The Girlfriend Experience                 27.0         7.3
Entourage                                 28.0         8.5
Meet the Browns                           30.0         3.5
The Bold and the Beautiful                30.0         3.5
Jesse                                     30.0         5.9
Fired Up                                  30.0         6.7
Sex and the City                          30.0         7.0
The Powerpuff Girls                       30.0         7.2
The Doombolt Chase                        30.0         7.2
Wings                                     30.0         7.3

In [84]:
# ascending 은 by 의 컬럼 순서대로 지정한다. --> 내림차순이 하나라도 있으면 지정해 줘야 한다. 
df.sort_values(['duration', 'imdb_score'], ascending=[False, True])[['duration','imdb_score']].head(40)
#duration은: 내림ㅊ순(False), imdb_score: 오름차순(True)

                                 duration  imdb_score
movie_title
Trapped                             511.0         8.2
Carlos                              334.0         7.7
Blood In, Blood Out                 330.0         8.0
Heaven's Gate                       325.0         6.8
The Legend of Suriyothai            300.0         6.6
Das Boot                            293.0         8.4
Apocalypse Now                      289.0         8.5
The Company                         286.0         7.9
Gods and Generals                   280.0         6.3
Gettysburg                          271.0         7.7
Arn: The Knight Templar             270.0         6.6
Cleopatra                           251.0         7.0
Once Upon a Time in America         251.0         8.4
Gandhi                              240.0         8.1
The Wolf of Wall Street             240.0         8.2
Emma                                240.0         8.2
Dances with Wolves                  236.0         8.0
Lawrence of Arabia                  227.0         8.4
Gone with the Wind                  226.0         8.2
The Greatest Story Ever Told        225.0         6.6
All the Pretty Horses               220.0         5.8
The Godfather: Part II              220.0         9.0
The Last Emperor                    219.0         7.8
Gangs of New York                   216.0         7.5
The Thin Red Line                   215.0         7.6
Watchmen                            215.0         7.7
Woodstock                           215.0         8.1
Wyatt Earp                          212.0         6.6
Nixon                               212.0         7.1
Alexander                           206.0         5.5
JFK                                 206.0         8.0
Malcolm X                           202.0         7.7
Seven Samurai                       202.0         8.7
King Kong                           201.0         7.2
Doctor Zhivago                      200.0         8.0
Anne of Green Gables                199.0         8.4
Deadline Gallipoli                  197.0         7.4
It's a Mad, Mad, Mad, Mad World     197.0         7.6
Troy                                196.0         7.2
Iron Man 3                          195.0         7.2

In [26]:
# boolean indexing 후 결과 정렬 (data frame을 처리 후에 그 결과를 정렬)
result = df[df['duration'] > 250].sort_values('duration')   # 조회 결과를 정렬해서 result에 대입
result

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Cleopatra,Color,Joseph L. Mankiewicz,72.0,251.0,311.0,595.0,Richard Burton,940.0,57750000.0,Biography|Drama|History|Romance,...,192.0,English,UK,Approved,31115000.0,1963.0,726.0,7.0,2.20,0
Once Upon a Time in America,Color,Sergio Leone,111.0,251.0,0.0,642.0,Burt Young,22000.0,5300000.0,Crime|Drama,...,495.0,English,Italy,R,30000000.0,1984.0,683.0,8.4,1.85,12000
Arn: The Knight Templar,Color,Peter Flinth,34.0,270.0,5.0,292.0,Michael Nyqvist,908.0,NaN,Action|Adventure|Drama|Romance|War,...,54.0,Swedish,Sweden,NaN,25000000.0,2007.0,690.0,6.6,2.35,0
Gettysburg,Color,Ron Maxwell,22.0,271.0,33.0,251.0,William Morgan Sheppard,854.0,10769960.0,Drama|History|War,...,256.0,English,USA,PG,25000000.0,1993.0,702.0,7.7,1.85,0
Gods and Generals,Color,Ron Maxwell,84.0,280.0,33.0,67.0,Bruce Boxleitner,789.0,12870569.0,Drama|History|War,...,497.0,English,USA,PG-13,56000000.0,2003.0,640.0,6.3,2.35,953
The Company,Color,NaN,9.0,286.0,NaN,527.0,Tom Hollander,857.0,NaN,Drama|History|Thriller,...,39.0,English,USA,NaN,NaN,NaN,555.0,7.9,1.78,733
Apocalypse Now,Color,Francis Ford Coppola,261.0,289.0,0.0,3000.0,Marlon Brando,11000.0,78800000.0,Drama|War,...,983.0,English,USA,R,31500000.0,1979.0,10000.0,8.5,2.35,19000
Das Boot,Color,Wolfgang Petersen,96.0,293.0,249.0,18.0,Martin Semmelrogge,362.0,11433134.0,Adventure|Drama|Thriller|War,...,426.0,German,West Germany,R,14000000.0,1981.0,21.0,8.4,1.85,11000
The Legend of Suriyothai,Color,Chatrichalerm Yukol,31.0,300.0,6.0,6.0,Chatchai Plengpanich,7.0,454255.0,Action|Adventure|Drama|History|War,...,47.0,Thai,Thailand,R,400000000.0,2001.0,6.0,6.6,1.85,124
Heaven's Gate,Color,Michael Cimino,102.0,325.0,517.0,678.0,Sam Waterston,12000.0,1500000.0,Adventure|Drama|Western,...,189.0,English,USA,R,44000000.0,1980.0,849.0,6.8,2.35,1000
"Blood In, Blood Out",Color,Taylor Hackford,12.0,330.0,138.0,672.0,Jesse Borrego,848.0,4496583.0,Crime|Drama,...,129.0,English,USA,R,35000000.0,1993.0,674.0,8.0,1.66,6000
Carlos,Color,NaN,108.0,334.0,NaN,30.0,Nora von Waldstätten,897.0,145118.0,Biography|Crime|Drama|Thriller,...,36.0,English,France,Not Rated,NaN,NaN,30.0,7.7,2.35,0
Trapped,Color,NaN,16.0,511.0,NaN,51.0,Ingvar Eggert Sigurðsson,147.0,NaN,Crime|Drama|Thriller,...,19.0,Icelandic,Iceland,NaN,NaN,NaN,63.0,8.2,16.00,0

In [36]:
# value count() 결과 정렬  => 값기준으로 내림차순 정렬해서 결과를 반환.
result = df['director_name'].value_counts()
result[result >10 ].sort_index()  #감독 이름순으로 정렬
result[result >10 ].sort_values()  #오름차순으로 정렬

Rob Reiner              11
Richard Linklater       11
Francis Ford Coppola    11
Sam Raimi               11
Chris Columbus          11
Richard Donner          11
Shawn Levy              11
Tony Scott              12
Michael Bay             12
Kevin Smith             12
Brian De Palma          12
Ron Howard              13
Robert Rodriguez        13
Robert Zemeckis         13
Barry Levinson          13
Joel Schumacher         13
Tim Burton              14
Oliver Stone            14
Renny Harlin            15
Steven Soderbergh       15
Spike Lee               16
Ridley Scott            16
Clint Eastwood          20
Martin Scorsese         20
Woody Allen             22
Steven Spielberg        26
Name: director_name, dtype: int64

# flights.csv (항공기 운항 기록 데이터)
- MONTH : 비행 월
- DAY : 비행 일
- WEEKDAY : 비행 요일 - 1(월요일)~7(일요일)
- AIRLINE : 항공사 코드
     - UA:	United Air Lines Inc.
     - AA:	American Airlines Inc.
     - US:	US Airways Inc.
     - F9:	Frontier Airlines Inc.
     - B6:	JetBlue Airways
     - OO:	Skywest Airlines Inc.
     - AS:	Alaska Airlines Inc.
     - NK:	Spirit Air Lines
     - WN:	Southwest Airlines Co.
     - DL:	Delta Air Lines Inc.
     - EV:	Atlantic Southeast Airlines
     - HA:	Hawaiian Airlines Inc.
     - MQ:	American Eagle Airlines Inc.
     - VX:	Virgin America
- ORG_AIR : 출발공항
- DEST_AIR : 도착공항
- SCHED_DEP : 출발예정시각
- DEP_DELAY : 출발지연시간(분)
- AIR_TIME : 비행시간(분)
- DIST : 비행거리(마일)
- SCHED_ARR : 도착예정시각
- ARR_DELAY : 도착지연시간(분)
- DIVERTED : 회항여부(1: True, 0: False)
- CANCELLED : 취소여부(1: True, 0: False)

In [40]:
import pandas as pd
flights = pd.read_csv('data/flights.csv')
flights.shape

(58492, 14)

In [41]:
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [42]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58492 entries, 0 to 58491
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MONTH      58492 non-null  int64
 1   DAY        58492 non-null  int64
 2   WEEKDAY    58492 non-null  int64
 3   AIRLINE    58492 non-null  object
 4   ORG_AIR    58492 non-null  object
 5   DEST_AIR   58492 non-null  object
 6   SCHED_DEP  58492 non-null  int64
 7   DEP_DELAY  57659 non-null  float64
 8   AIR_TIME   57474 non-null  float64
 9   DIST       58492 non-null  int64
 10  SCHED_ARR  58492 non-null  int64
 11  ARR_DELAY  57474 non-null  float64
 12  DIVERTED   58492 non-null  int64
 13  CANCELLED  58492 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 6.2+ MB

In [46]:
# 결측치 개수 확인
flights.isnull().sum()

MONTH           0
DAY             0
WEEKDAY         0
AIRLINE         0
ORG_AIR         0
DEST_AIR        0
SCHED_DEP       0
DEP_DELAY     833
AIR_TIME     1018
DIST            0
SCHED_ARR       0
ARR_DELAY    1018
DIVERTED        0
CANCELLED       0
dtype: int64

In [47]:
flights['AIRLINE'].value_counts()

DL    10601
AA     8900
WN     8418
UA     7792
OO     6588
EV     5858
MQ     3471
US     1615
NK     1516
F9     1317
VX      993
AS      768
B6      543
HA      112
Name: AIRLINE, dtype: int64

In [52]:
flights['WEEKDAY'].value_counts().sort_index()

1    8720
2    8535
3    8706
4    8659
5    8453
6    7052
7    8367
Name: WEEKDAY, dtype: int64

In [55]:
flights['WEEKDAY'].unique()
flights['AIRLINE'].unique()

array(['WN', 'UA', 'MQ', 'AA', 'F9', 'EV', 'OO', 'NK', 'US', 'AS', 'DL',
       'VX', 'B6', 'HA'], dtype=object)

In [85]:
flights['AIRLINE'].nunique()

14

# 기술통계 메소드들을 이용한 데이터 집계
## 주요 기술통계 메소드

|함수|설명|
|-|-|
|**sum()**|합계|
|**mean()**|평균|(알아서 object 타입 걸러줌)|
|**median()**|중위수|
|**mode()**|최빈값|
|**quantile()**|분위수|
|**std()**|표준편차|
|**var()**|분산|
|**count()**|결측치를 제외한 원소 개수|
|**min()**|최소값|
|**max()**|최대값|
|**idxmax()**|최대값 index|
|**idxmin()**|최소값 index|
|**unique()**|고유값|
|**nunique()**|고유값의 개수|

<center><b style='font-size:1.2em'>cf) value_counts()는 Series에만 사용할 수 있다.</b></center>

- DataFrame에 위의 기술 통계 메소드들을 적용할 경우 **컬럼별로 계산한다.**
- sum(), mode(), max(), min(), unique(), nunique(), count()는 **문자열에 적용가능하다.**
    - idxmax(), idxmin() 는 문자열 컬럼에 사용할 수 없다. (문자열의 경우 넘파이의 argmax(), argmin() 함수를 사용한다.)

- **공통 매개변수**
    - skipna=True(기본값)
        - ***결측치(NA)를 포함해서 계산할지 여부 설정.***
        - True가 기본값으로 결측치(NA)를 제외하고 처리한다. 
        - 결측치 제외하지 않으려면 skipna=False로 설정하는데 결측치가 있으면 결과는 결측치가 된다.
    - axis
        - DataFrame에 적용할 때 계산방향을 설정
            - 0 또는 'index' (기본값): 컬럼 방향으로 집계
            - 1 또는 'columns': 행 방향으로 집계

In [57]:
flights.max()

MONTH            12
DAY              31
WEEKDAY           7
AIRLINE          WN
ORG_AIR         SFO
DEST_AIR        YUM
SCHED_DEP      2359
DEP_DELAY    1194.0
AIR_TIME      577.0
DIST           4502
SCHED_ARR      2359
ARR_DELAY    1185.0
DIVERTED          1
CANCELLED         1
dtype: object

In [58]:
flights.mean()     # 수치형만 갖고 평균값 구해줌.

/var/folders/jf/l3x8dj6n62s041cwvf169t5w0000gn/T/ipykernel_10490/1122489105.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  flights.mean()

MONTH           6.220646
DAY            15.702096
WEEKDAY         3.926862
SCHED_DEP    1387.984836
DEP_DELAY      10.921192
AIR_TIME      115.928576
DIST          872.900072
SCHED_ARR    1549.399832
ARR_DELAY       5.812315
DIVERTED        0.002342
CANCELLED       0.015062
dtype: float64

In [59]:
flights.mean(numeric_only=None)     # numeric만 갖고 구해~~

/var/folders/jf/l3x8dj6n62s041cwvf169t5w0000gn/T/ipykernel_10490/1596727835.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  flights.mean(numeric_only=None)     # 수치형만 갖고 평균값 구해줌.

MONTH           6.220646
DAY            15.702096
WEEKDAY         3.926862
SCHED_DEP    1387.984836
DEP_DELAY      10.921192
AIR_TIME      115.928576
DIST          872.900072
SCHED_ARR    1549.399832
ARR_DELAY       5.812315
DIVERTED        0.002342
CANCELLED       0.015062
dtype: float64

In [87]:
flights.select_dtypes(exclude='object').idxmax()

MONTH        53361
DAY           4886
WEEKDAY        489
SCHED_DEP      127
DEP_DELAY    58188
AIR_TIME     57423
DIST          2082
SCHED_ARR      120
ARR_DELAY    58188
DIVERTED       580
CANCELLED       24
dtype: int64

In [65]:
import numpy as np
#np.armax(flights)  #결축치
np.argmax(flights.AIRLINE)

0

## aggregate(func, axis=0, \*args, \*\*kwargs) 또는 agg(func, axis=0, \*args, \*\*kwargs)
- DataFrame, Series의 메소드로 **집계결과를 다양한 형태로 묶어서 볼 때** 사용한다.
    - **사용자 정의 집계메소드를 사용할 때도 편리하다.**
- **매개변수**
    - func 
        - 집계 함수 지정
            - 함수명/함수리스트 (문자열)
                - 판다스 제공 집계메소드들은 문자열로, 사용자정의 집계함수는 함수 객체로 전달
            - Dictionary : {'집계할컬럼' : 집계함수, ... }
                - 컬럼별로 다른 집계를 할 경우
    - axis
        - DataFrame에 적용할 때 0 방향으로 계산할 지 1 방향으로 계산할지 설정
            - 0 또는 'index' (기본값): 컬럼 방향으로 집계
            - 1 또는 'columns': 행 방향으로 집계
    - \*args, \*\*kwargs 
        - 함수에 전달할 매개변수. 
        - 집계함수는 첫번째 매개변수로 Series를 받는다. 그 이외의 매개변수가 있는 경우.

In [ ]:
# aggregate 사용 이유
#   1) 집계를 묶어서 보기 위해  2) 컬럼별 다른 집계   3) 사용자 정의 집계

In [68]:
# 도착 지연시간(ARR_DELAY): 최조값, 최대값
flights['ARR_DELAY'].min(), flights['ARR_DELAY'].max()

(-60.0, 1185.0)

In [69]:
flights['ARR_DELAY'].aggregate(["min","max"])

min     -60.0
max    1185.0
Name: ARR_DELAY, dtype: float64

In [70]:
flights['ARR_DELAY'].agg(["min","max"])

min     -60.0
max    1185.0
Name: ARR_DELAY, dtype: float64

In [74]:
flights['ARR_DELAY'].agg('mean', skipna=True)   #결측치를 제끼고 평균값

5.812315133799631

In [75]:
flights['ARR_DELAY'].agg('mean', skipna=False)   #결측치를 제끼지 않고 평균값=> nan 나옴.

nan

In [88]:
flights['ARR_DELAY'].agg(['min','max','mean','std'], skipna=False)   
# 집계(통계량 구하는 )함수가 여러개일 경우 argument는 전달되지 않는다. 
# 하나일때만 보통 사용한다.

min      -60.000000
max     1185.000000
mean       5.812315
std       38.411948
Name: ARR_DELAY, dtype: float64

In [77]:
# 컬럼별로 다른 통계량을 계산(딕셔너리 형식으로 봄) ==> {컬럼 : 통계함수}

flights.agg({
    "DEP_DELAY": "sum", 
    "ARR_DELAY": ['mean', 'std'], 
#     "AIRLINE": 'mode'
})

      DEP_DELAY  ARR_DELAY
sum    629705.0        NaN
mean        NaN   5.812315
std         NaN  38.411948

In [78]:
flights[['DEP_DELAY', 'ARR_DELAY']].mean()

DEP_DELAY    10.921192
ARR_DELAY     5.812315
dtype: float64

In [79]:
flights[['DEP_DELAY', 'ARR_DELAY']].agg(['mean', 'std'])

      DEP_DELAY  ARR_DELAY
mean  10.921192   5.812315
std   36.146210  38.411948

In [80]:
flights.describe()

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
count,58492.000000,58492.000000,58492.000000,58492.000000,57659.000000,57474.000000,58492.000000,58492.000000,57474.000000,58492.000000,58492.000000
mean,6.220646,15.702096,3.926862,1387.984836,10.921192,115.928576,872.900072,1549.399832,5.812315,0.002342,0.015062
std,3.358484,8.760846,1.995777,482.810792,36.146210,71.679591,624.996805,518.599952,38.411948,0.048340,0.121800
min,1.000000,1.000000,1.000000,5.000000,-24.000000,8.000000,67.000000,1.000000,-60.000000,0.000000,0.000000
25%,3.000000,8.000000,2.000000,1000.000000,-4.000000,61.000000,391.000000,1159.000000,-12.000000,0.000000,0.000000
50%,6.000000,16.000000,4.000000,1353.000000,-1.000000,97.000000,690.000000,1603.000000,-4.000000,0.000000,0.000000
75%,9.000000,23.000000,6.000000,1805.000000,10.000000,152.000000,1199.000000,1959.000000,9.000000,0.000000,0.000000
max,12.000000,31.000000,7.000000,2359.000000,1194.000000,577.000000,4502.000000,2359.000000,1185.000000,1.000000,1.000000

In [82]:
flights.select_dtypes(exclude='object').agg(['count','mean', 'std', 'min','max']).T

             count         mean         std   min     max
MONTH      58492.0     6.220646    3.358484   1.0    12.0
DAY        58492.0    15.702096    8.760846   1.0    31.0
WEEKDAY    58492.0     3.926862    1.995777   1.0     7.0
SCHED_DEP  58492.0  1387.984836  482.810792   5.0  2359.0
DEP_DELAY  57659.0    10.921192   36.146210 -24.0  1194.0
AIR_TIME   57474.0   115.928576   71.679591   8.0   577.0
DIST       58492.0   872.900072  624.996805  67.0  4502.0
SCHED_ARR  58492.0  1549.399832  518.599952   1.0  2359.0
ARR_DELAY  57474.0     5.812315   38.411948 -60.0  1185.0
DIVERTED   58492.0     0.002342    0.048340   0.0     1.0
CANCELLED  58492.0     0.015062    0.121800   0.0     1.0

In [11]:
import pandas as pd

flights = pd.read_csv('data/flights.csv')

In [14]:
# 사용자 정의 집계함수
# 매개변수 - Series를 받는 변수를 첫번째 매개변수로 선안
# 반환값 - 통계량
# MIN/MAX 값의 차이 구하는 집계함수.

def min_max_diff(column):
    min_value = column.min()
    max_value = column.max()
    return max_value - min_value

In [15]:
min_max_diff(flights['ARR_DELAY'])

1245.0

In [16]:
flights['ARR_DELAY'].agg(min_max_diff)  #사용자 정의 집계함수 호출 =>함수 객체

1245.0

In [ ]:
#deff agg(self, func)
#     return func(self)

In [18]:
flights['ARR_DELAY'].agg(["min", "max", min_max_diff])

min              -60.0
max             1185.0
min_max_diff    1245.0
Name: ARR_DELAY, dtype: float64

In [24]:
# IQR 값을 계산하는 함수
#  IQR(Inter Quartile Range)  ->3분위  -> 1분위 - quantile(q=[0.25, 0.75])

def IQR(column):
    first_q, third_q = column.quantile(q=[0.25, 0.75])
    iqr = third_q - first_q    
    return iqr

In [27]:
IQR(flights['ARR_DELAY']), IQR(flights['DEP_DELAY'])

(21.0, 14.0)

In [28]:
flights[['ARR_DELAY','DEP_DELAY']].agg(IQR)

ARR_DELAY    21.0
DEP_DELAY    14.0
dtype: float64

# Groupby
- 특정 열을 기준으로 같은 값을 가지는 행끼리 묶어서 group화 한다.
- **~~ 별 집계를 할 때** 사용한다. (성별, 직급별, 등급별 ...)
    - Group으로 묶을 기준 열은 범주형타입(category)을 사용한다.
- **구문**
    - `DF.groupby('그룹으로묶을기준컬럼')`
        - DataFrameGroupby 객체를 반환한다.
        - DataFrameGroupby 객체는 어떤 행끼리 묶여있는지 정보를 가진다. 이 객체의 집계함수를 사용하면 그룹별 집계를 할 수 있다.
            - `DataFrameGroupby객체['집계할 컬럼'].집계함수()`
        - groupby에 여러개의 컬럼을 기준으로 나눌 경우 리스트에 묶어서 전달한다.
        - 집계할 컬럼이 여러개인 경우 리스트로 묶어준다.
    - 집계함수
        - 기술통계 함수들
        - agg()/aggregate()
            - 여러 다른 집계함수 호출시(여러 집계를 같이 볼경우)
            - 사용자정의 집계함수 호출시
            - 컬럼별로 다른 집계함수들을 호출할 경우

In [31]:
import pandas as pd

flights = pd.read_csv('data/flights.csv')
flights.shape

(58492, 14)

In [34]:
flights['AIRLINE'].value.counts()

AttributeError: 'Series' object has no attribute 'value'

In [36]:
#Groupby() 호출
gb = flights.groupby('AIRLINE')
print(type(gb))
gb_s = gb['ARR_DELAY']
print(type(gb_s))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
<class 'pandas.core.groupby.generic.SeriesGroupBy'>

In [39]:
from pprint import pprint
pprint(gb.groups)          # dictionary를 반환   -> 어떤 값이 어떤 행들이 group으로 묶였는지 반환해준다.

{'AA': Int64Index([    3,     6,     8,    15,    26,    32,    33,    36,    37,
               41,
            ...
            58454, 58456, 58462, 58465, 58466, 58470, 58475, 58476, 58479,
            58487],
           dtype='int64', length=8900),
 'AS': Int64Index([   38,   198,   241,   277,   397,   450,   453,   500,   518,
              591,
            ...
            58202, 58207, 58224, 58238, 58253, 58305, 58355, 58404, 58407,
            58428],
           dtype='int64', length=768),
 'B6': Int64Index([  123,   127,   239,   333,   548,   549,   696,   757,   945,
             1175,
            ...
            57948, 57968, 58059, 58076, 58228, 58262, 58301, 58425, 58477,
            58483],
           dtype='int64', length=543),
 'DL': Int64Index([   53,    57,    77,    79,    85,    90,    91,   101,   116,
              117,
            ...
            58390, 58411, 58413, 58421, 58429, 58440, 58448, 58464, 58467,
            58485],
           dtype='int64', length=10601),
 'EV': Int64Index([   11,    13,    29,    40,    69,   100,   106,   118,   136,
              143,
            ...
            58370, 58397, 58412, 58423, 58438, 58445, 58452, 58459, 58463,
            58486],
           dtype='int64', length=5858),
 'F9': Int64Index([    7,    93,   209,   232,   247,   290,   301,   386,   444,
              483,
            ...
            58151, 58169, 58194, 58201, 58219, 58288, 58331, 58447, 58449,
            58488],
           dtype='int64', length=1317),
 'HA': Int64Index([  582,   712,   878,  1053,  1269,  1345,  1544,  1864,  2316,
             2644,
            ...
            53204, 53338, 54457, 55215, 55679, 55883, 56174, 56350, 56816,
            58391],
           dtype='int64', length=112),
 'MQ': Int64Index([    2,    10,    18,    24,    50,    60,    71,    78,    81,
              103,
            ...
            58369, 58393, 58394, 58406, 58410, 58415, 58426, 58468, 58474,
            58484],
           dtype='int64', length=3471),
 'NK': Int64Index([   17,    74,    95,   109,   166,   345,   358,   401,   434,
              436,
            ...
            58006, 58022, 58113, 58129, 58152, 58160, 58197, 58437, 58461,
            58469],
           dtype='int64', length=1516),
 'OO': Int64Index([   12,    16,    22,    25,    27,    34,    39,    42,    51,
               52,
            ...
            58433, 58434, 58435, 58439, 58446, 58451, 58480, 58482, 58489,
            58491],
           dtype='int64', length=6588),
 'UA': Int64Index([    1,     5,     9,    14,    21,    44,    45,    67,    70,
               72,
            ...
            58365, 58389, 58396, 58401, 58419, 58422, 58432, 58457, 58460,
            58481],
           dtype='int64', length=7792),
 'US': Int64Index([   31,    35,    49,    96,   104,   111,   112,   119,   148,
              150,
            ...
            31433, 31445, 31462, 31481, 31497, 31514, 31523, 31535, 31561,
            31582],
           dtype='int64', length=1615),
 'VX': Int64Index([   56,   227,   243,   417,   432,   464,   614,   641,   703,
              759,
            ...
            57971, 58068, 58112, 58298, 58313, 58332, 58383, 58400, 58471,
            58478],
           dtype='int64', length=993),
 'WN': Int64Index([    0,     4,    19,    20,    23,    28,    30,    43,    59,
               64,
            ...
            58408, 58409, 58430, 58436, 58444, 58455, 58458, 58472, 58473,
            58490],
           dtype='int64', length=8418)}

In [41]:
flights['AIRLINE'].head(50)

0     WN
1     UA
2     MQ
3     AA
4     WN
5     UA
6     AA
7     F9
8     AA
9     UA
10    MQ
11    EV
12    OO
13    EV
14    UA
15    AA
16    OO
17    NK
18    MQ
19    WN
20    WN
21    UA
22    OO
23    WN
24    MQ
25    OO
26    AA
27    OO
28    WN
29    EV
30    WN
31    US
32    AA
33    AA
34    OO
35    US
36    AA
37    AA
38    AS
39    OO
40    EV
41    AA
42    OO
43    WN
44    UA
45    UA
46    AA
47    AA
48    AA
49    US
Name: AIRLINE, dtype: object

In [44]:
pprint(flights.groupby(["MONTH", "DAY"]).groups)    # 월, 일  // 1월1일 1월2일 .......12월31일까지 묶어 준다. (대분류,중분류,소분류)

{(1, 1): Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            126, 127, 128, 129, 130, 131, 132, 133, 134, 135],
           dtype='int64', length=136),
 (1, 2): Int64Index([136, 137, 138, 139, 140, 141, 142, 143, 144, 145,
            ...
            297, 298, 299, 300, 301, 302, 303, 304, 305, 306],
           dtype='int64', length=171),
 (1, 3): Int64Index([307, 308, 309, 310, 311, 312, 313, 314, 315, 316,
            ...
            479, 480, 481, 482, 483, 484, 485, 486, 487, 488],
           dtype='int64', length=182),
 (1, 4): Int64Index([489, 490, 491, 492, 493, 494, 495, 496, 497, 498,
            ...
            656, 657, 658, 659, 660, 661, 662, 663, 664, 665],
           dtype='int64', length=177),
 (1, 5): Int64Index([666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
            ...
            836, 837, 838, 839, 840, 841, 842, 843, 844, 845],
           dtype='int64', length=180),
 (1, 6): Int64Index([ 846,  847,  848,  849,  850,  851,  852,  853,  854,  855,
            ...
            1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015],
           dtype='int64', length=170),
 (1, 7): Int64Index([1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025,
            ...
            1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159],
           dtype='int64', length=144),
 (1, 8): Int64Index([1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169,
            ...
            1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311],
           dtype='int64', length=152),
 (1, 9): Int64Index([1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321,
            ...
            1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470],
           dtype='int64', length=159),
 (1, 10): Int64Index([1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480,
            ...
            1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591],
           dtype='int64', length=121),
 (1, 11): Int64Index([1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601,
            ...
            1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753],
           dtype='int64', length=162),
 (1, 12): Int64Index([1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763,
            ...
            1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920],
           dtype='int64', length=167),
 (1, 13): Int64Index([1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930,
            ...
            2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063],
           dtype='int64', length=143),
 (1, 14): Int64Index([2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073,
            ...
            2232, 2233, 2234, 2235, 2236, 2237, 2238, 2239, 2240, 2241],
           dtype='int64', length=178),
 (1, 15): Int64Index([2242, 2243, 2244, 2245, 2246, 2247, 2248, 2249, 2250, 2251,
            ...
            2417, 2418, 2419, 2420, 2421, 2422, 2423, 2424, 2425, 2426],
           dtype='int64', length=185),
 (1, 16): Int64Index([2427, 2428, 2429, 2430, 2431, 2432, 2433, 2434, 2435, 2436,
            ...
            2573, 2574, 2575, 2576, 2577, 2578, 2579, 2580, 2581, 2582],
           dtype='int64', length=156),
 (1, 17): Int64Index([2583, 2584, 2585, 2586, 2587, 2588, 2589, 2590, 2591, 2592,
            ...
            2706, 2707, 2708, 2709, 2710, 2711, 2712, 2713, 2714, 2715],
           dtype='int64', length=133),
 (1, 18): Int64Index([2716, 2717, 2718, 2719, 2720, 2721, 2722, 2723, 2724, 2725,
            ...
            2864, 2865, 2866, 2867, 2868, 2869, 2870, 2871, 2872, 2873],
           dtype='int64', length=158),
 (1, 19): Int64Index([2874, 2875, 2876, 2877, 2878, 2879, 2880, 2881, 2882, 2883,
            ...
            3029, 3030, 3031, 3032, 3033, 3034, 3035, 3036, 3037, 3038],
           dtype='int64', length=165),
 (1, 20): Int64Index([3039, 3040, 3041, 3042, 3043, 3044, 3045, 3046, 3047, 3048,
            ...
            3185, 3186, 3187, 3188, 3189, 3190, 3191, 3192, 3193, 3194],
           dtype='int64', length=156),
 (1, 21): Int64Index([3195, 3196, 3197, 3198, 3199, 3200, 3201, 3202, 3203, 3204,
            ...
            3362, 3363, 3364, 3365, 3366, 3367, 3368, 3369, 3370, 3371],
           dtype='int64', length=177),
 (1, 22): Int64Index([3372, 3373, 3374, 3375, 3376, 3377, 3378, 3379, 3380, 3381,
            ...
            3539, 3540, 3541, 3542, 3543, 3544, 3545, 3546, 3547, 3548],
           dtype='int64', length=177),
 (1, 23): Int64Index([3549, 3550, 3551, 3552, 3553, 3554, 3555, 3556, 3557, 3558,
            ...
            3722, 3723, 3724, 3725, 3726, 3727, 3728, 3729, 3730, 3731],
           dtype='int64', length=183),
 (1, 24): Int64Index([3732, 3733, 3734, 3735, 3736, 3737, 3738, 3739, 3740, 3741,
            ...
            3851, 3852, 3853, 3854, 3855, 3856, 3857, 3858, 3859, 3860],
           dtype='int64', length=129),
 (1, 25): Int64Index([3861, 3862, 3863, 3864, 3865, 3866, 3867, 3868, 3869, 3870,
            ...
            4033, 4034, 4035, 4036, 4037, 4038, 4039, 4040, 4041, 4042],
           dtype='int64', length=182),
 (1, 26): Int64Index([4043, 4044, 4045, 4046, 4047, 4048, 4049, 4050, 4051, 4052,
            ...
            4209, 4210, 4211, 4212, 4213, 4214, 4215, 4216, 4217, 4218],
           dtype='int64', length=176),
 (1, 27): Int64Index([4219, 4220, 4221, 4222, 4223, 4224, 4225, 4226, 4227, 4228,
            ...
            4388, 4389, 4390, 4391, 4392, 4393, 4394, 4395, 4396, 4397],
           dtype='int64', length=179),
 (1, 28): Int64Index([4398, 4399, 4400, 4401, 4402, 4403, 4404, 4405, 4406, 4407,
            ...
            4539, 4540, 4541, 4542, 4543, 4544, 4545, 4546, 4547, 4548],
           dtype='int64', length=151),
 (1, 29): Int64Index([4549, 4550, 4551, 4552, 4553, 4554, 4555, 4556, 4557, 4558,
            ...
            4704, 4705, 4706, 4707, 4708, 4709, 4710, 4711, 4712, 4713],
           dtype='int64', length=165),
 (1, 30): Int64Index([4714, 4715, 4716, 4717, 4718, 4719, 4720, 4721, 4722, 4723,
            ...
            4876, 4877, 4878, 4879, 4880, 4881, 4882, 4883, 4884, 4885],
           dtype='int64', length=172),
 (1, 31): Int64Index([4886, 4887, 4888, 4889, 4890, 4891, 4892, 4893, 4894, 4895,
            ...
            4993, 4994, 4995, 4996, 4997, 4998, 4999, 5000, 5001, 5002],
           dtype='int64', length=117),
 (2, 1): Int64Index([5003, 5004, 5005, 5006, 5007, 5008, 5009, 5010, 5011, 5012,
            ...
            5136, 5137, 5138, 5139, 5140, 5141, 5142, 5143, 5144, 5145],
           dtype='int64', length=143),
 (2, 2): Int64Index([5146, 5147, 5148, 5149, 5150, 5151, 5152, 5153, 5154, 5155,
            ...
            5303, 5304, 5305, 5306, 5307, 5308, 5309, 5310, 5311, 5312],
           dtype='int64', length=167),
 (2, 3): Int64Index([5313, 5314, 5315, 5316, 5317, 5318, 5319, 5320, 5321, 5322,
            ...
            5468, 5469, 5470, 5471, 5472, 5473, 5474, 5475, 5476, 5477],
           dtype='int64', length=165),
 (2, 4): Int64Index([5478, 5479, 5480, 5481, 5482, 5483, 5484, 5485, 5486, 5487,
            ...
            5628, 5629, 5630, 5631, 5632, 5633, 5634, 5635, 5636, 5637],
           dtype='int64', length=160),
 (2, 5): Int64Index([5638, 5639, 5640, 5641, 5642, 5643, 5644, 5645, 5646, 5647,
            ...
            5813, 5814, 5815, 5816, 5817, 5818, 5819, 5820, 5821, 5822],
           dtype='int64', length=185),
 (2, 6): Int64Index([5823, 5824, 5825, 5826, 5827, 5828, 5829, 5830, 5831, 5832,
            ...
            5973, 5974, 5975, 5976, 5977, 5978, 5979, 5980, 5981, 5982],
           dtype='int64', length=160),
 (2, 7): Int64Index([5983, 5984, 5985, 5986, 5987, 5988, 5989, 5990, 5991, 5992,
            ...
            6094, 6095, 6096, 6097, 6098, 6099, 6100, 6101, 6102, 6103],
           dtype='int64', length=121),
 (2, 8): Int64Index([6104, 6105, 6106, 6107, 6108, 6109, 6110, 6111, 6112, 6113,
            ...
            6243, 6244, 6245, 6246, 6247, 6248, 6249, 6250, 6251, 6252],
           dtype='int64', length=149),
 (2, 9): Int64Index([6253, 6254, 6255, 6256, 6257, 6258, 6259, 6260, 6261, 6262,
            ...
            6412, 6413, 6414, 6415, 6416, 6417, 6418, 6419, 6420, 6421],
           dtype='int64', length=169),
 (2, 10): Int64Index([6422, 6423, 6424, 6425, 6426, 6427, 6428, 6429, 6430, 6431,
            ...
            6561, 6562, 6563, 6564, 6565, 6566, 6567, 6568, 6569, 6570],
           dtype='int64', length=149),
 (2, 11): Int64Index([6571, 6572, 6573, 6574, 6575, 6576, 6577, 6578, 6579, 6580,
            ...
            6726, 6727, 6728, 6729, 6730, 6731, 6732, 6733, 6734, 6735],
           dtype='int64', length=165),
 (2, 12): Int64Index([6736, 6737, 6738, 6739, 6740, 6741, 6742, 6743, 6744, 6745,
            ...
            6921, 6922, 6923, 6924, 6925, 6926, 6927, 6928, 6929, 6930],
           dtype='int64', length=195),
 (2, 13): Int64Index([6931, 6932, 6933, 6934, 6935, 6936, 6937, 6938, 6939, 6940,
            ...
            7091, 7092, 7093, 7094, 7095, 7096, 7097, 7098, 7099, 7100],
           dtype='int64', length=170),
 (2, 14): Int64Index([7101, 7102, 7103, 7104, 7105, 7106, 7107, 7108, 7109, 7110,
            ...
            7228, 7229, 7230, 7231, 7232, 7233, 7234, 7235, 7236, 7237],
           dtype='int64', length=137),
 (2, 15): Int64Index([7238, 7239, 7240, 7241, 7242, 7243, 7244, 7245, 7246, 7247,
            ...
            7396, 7397, 7398, 7399, 7400, 7401, 7402, 7403, 7404, 7405],
           dtype='int64', length=168),
 (2, 16): Int64Index([7406, 7407, 7408, 7409, 7410, 7411, 7412, 7413, 7414, 7415,
            ...
            7575, 7576, 7577, 7578, 7579, 7580, 7581, 7582, 7583, 7584],
           dtype='int64', length=179),
 (2, 17): Int64Index([7585, 7586, 7587, 7588, 7589, 7590, 7591, 7592, 7593, 7594,
            ...
            7751, 7752, 7753, 7754, 7755, 7756, 7757, 7758, 7759, 7760],
           dtype='int64', length=176),
 (2, 18): Int64Index([7761, 7762, 7763, 7764, 7765, 7766, 7767, 7768, 7769, 7770,
            ...
            7924, 7925, 7926, 7927, 7928, 7929, 7930, 7931, 7932, 7933],
           dtype='int64', length=173),
 (2, 19): Int64Index([7934, 7935, 7936, 7937, 7938, 7939, 7940, 7941, 7942, 7943,
            ...
            8112, 8113, 8114, 8115, 8116, 8117, 8118, 8119, 8120, 8121],
           dtype='int64', length=188),
 (2, 20): Int64Index([8122, 8123, 8124, 8125, 8126, 8127, 8128, 8129, 8130, 8131,
            ...
            8311, 8312, 8313, 8314, 8315, 8316, 8317, 8318, 8319, 8320],
           dtype='int64', length=199),
 (2, 21): Int64Index([8321, 8322, 8323, 8324, 8325, 8326, 8327, 8328, 8329, 8330,
            ...
            8443, 8444, 8445, 8446, 8447, 8448, 8449, 8450, 8451, 8452],
           dtype='int64', length=132),
 (2, 22): Int64Index([8453, 8454, 8455, 8456, 8457, 8458, 8459, 8460, 8461, 8462,
            ...
            8608, 8609, 8610, 8611, 8612, 8613, 8614, 8615, 8616, 8617],
           dtype='int64', length=165),
 (2, 23): Int64Index([8618, 8619, 8620, 8621, 8622, 8623, 8624, 8625, 8626, 8627,
            ...
            8783, 8784, 8785, 8786, 8787, 8788, 8789, 8790, 8791, 8792],
           dtype='int64', length=175),
 (2, 24): Int64Index([8793, 8794, 8795, 8796, 8797, 8798, 8799, 8800, 8801, 8802,
            ...
            8950, 8951, 8952, 8953, 8954, 8955, 8956, 8957, 8958, 8959],
           dtype='int64', length=167),
 (2, 25): Int64Index([8960, 8961, 8962, 8963, 8964, 8965, 8966, 8967, 8968, 8969,
            ...
            9129, 9130, 9131, 9132, 9133, 9134, 9135, 9136, 9137, 9138],
           dtype='int64', length=179),
 (2, 26): Int64Index([9139, 9140, 9141, 9142, 9143, 9144, 9145, 9146, 9147, 9148,
            ...
            9299, 9300, 9301, 9302, 9303, 9304, 9305, 9306, 9307, 9308],
           dtype='int64', length=170),
 (2, 27): Int64Index([9309, 9310, 9311, 9312, 9313, 9314, 9315, 9316, 9317, 9318,
            ...
            9454, 9455, 9456, 9457, 9458, 9459, 9460, 9461, 9462, 9463],
           dtype='int64', length=155),
 (2, 28): Int64Index([9464, 9465, 9466, 9467, 9468, 9469, 9470, 9471, 9472, 9473,
            ...
            9601, 9602, 9603, 9604, 9605, 9606, 9607, 9608, 9609, 9610],
           dtype='int64', length=147),
 (3, 1): Int64Index([9611, 9612, 9613, 9614, 9615, 9616, 9617, 9618, 9619, 9620,
            ...
            9767, 9768, 9769, 9770, 9771, 9772, 9773, 9774, 9775, 9776],
           dtype='int64', length=166),
 (3, 2): Int64Index([9777, 9778, 9779, 9780, 9781, 9782, 9783, 9784, 9785, 9786,
            ...
            9951, 9952, 9953, 9954, 9955, 9956, 9957, 9958, 9959, 9960],
           dtype='int64', length=184),
 (3, 3): Int64Index([ 9961,  9962,  9963,  9964,  9965,  9966,  9967,  9968,  9969,
             9970,
            ...
            10120, 10121, 10122, 10123, 10124, 10125, 10126, 10127, 10128,
            10129],
           dtype='int64', length=169),
 (3, 4): Int64Index([10130, 10131, 10132, 10133, 10134, 10135, 10136, 10137, 10138,
            10139,
            ...
            10308, 10309, 10310, 10311, 10312, 10313, 10314, 10315, 10316,
            10317],
           dtype='int64', length=188),
 (3, 5): Int64Index([10318, 10319, 10320, 10321, 10322, 10323, 10324, 10325, 10326,
            10327,
            ...
            10509, 10510, 10511, 10512, 10513, 10514, 10515, 10516, 10517,
            10518],
           dtype='int64', length=201),
 (3, 6): Int64Index([10519, 10520, 10521, 10522, 10523, 10524, 10525, 10526, 10527,
            10528,
            ...
            10694, 10695, 10696, 10697, 10698, 10699, 10700, 10701, 10702,
            10703],
           dtype='int64', length=185),
 (3, 7): Int64Index([10704, 10705, 10706, 10707, 10708, 10709, 10710, 10711, 10712,
            10713,
            ...
            10863, 10864, 10865, 10866, 10867, 10868, 10869, 10870, 10871,
            10872],
           dtype='int64', length=169),
 (3, 8): Int64Index([10873, 10874, 10875, 10876, 10877, 10878, 10879, 10880, 10881,
            10882,
            ...
            11048, 11049, 11050, 11051, 11052, 11053, 11054, 11055, 11056,
            11057],
           dtype='int64', length=185),
 (3, 9): Int64Index([11058, 11059, 11060, 11061, 11062, 11063, 11064, 11065, 11066,
            11067,
            ...
            11231, 11232, 11233, 11234, 11235, 11236, 11237, 11238, 11239,
            11240],
           dtype='int64', length=183),
 (3, 10): Int64Index([11241, 11242, 11243, 11244, 11245, 11246, 11247, 11248, 11249,
            11250,
            ...
            11409, 11410, 11411, 11412, 11413, 11414, 11415, 11416, 11417,
            11418],
           dtype='int64', length=178),
 (3, 11): Int64Index([11419, 11420, 11421, 11422, 11423, 11424, 11425, 11426, 11427,
            11428,
            ...
            11602, 11603, 11604, 11605, 11606, 11607, 11608, 11609, 11610,
            11611],
           dtype='int64', length=193),
 (3, 12): Int64Index([11612, 11613, 11614, 11615, 11616, 11617, 11618, 11619, 11620,
            11621,
            ...
            11779, 11780, 11781, 11782, 11783, 11784, 11785, 11786, 11787,
            11788],
           dtype='int64', length=177),
 (3, 13): Int64Index([11789, 11790, 11791, 11792, 11793, 11794, 11795, 11796, 11797,
            11798,
            ...
            11969, 11970, 11971, 11972, 11973, 11974, 11975, 11976, 11977,
            11978],
           dtype='int64', length=190),
 (3, 14): Int64Index([11979, 11980, 11981, 11982, 11983, 11984, 11985, 11986, 11987,
            11988,
            ...
            12108, 12109, 12110, 12111, 12112, 12113, 12114, 12115, 12116,
            12117],
           dtype='int64', length=139),
 (3, 15): Int64Index([12118, 12119, 12120, 12121, 12122, 12123, 12124, 12125, 12126,
            12127,
            ...
            12272, 12273, 12274, 12275, 12276, 12277, 12278, 12279, 12280,
            12281],
           dtype='int64', length=164),
 (3, 16): Int64Index([12282, 12283, 12284, 12285, 12286, 12287, 12288, 12289, 12290,
            12291,
            ...
            12438, 12439, 12440, 12441, 12442, 12443, 12444, 12445, 12446,
            12447],
           dtype='int64', length=166),
 (3, 17): Int64Index([12448, 12449, 12450, 12451, 12452, 12453, 12454, 12455, 12456,
            12457,
            ...
            12607, 12608, 12609, 12610, 12611, 12612, 12613, 12614, 12615,
            12616],
           dtype='int64', length=169),
 (3, 18): Int64Index([12617, 12618, 12619, 12620, 12621, 12622, 12623, 12624, 12625,
            12626,
            ...
            12765, 12766, 12767, 12768, 12769, 12770, 12771, 12772, 12773,
            12774],
           dtype='int64', length=158),
 (3, 19): Int64Index([12775, 12776, 12777, 12778, 12779, 12780, 12781, 12782, 12783,
            12784,
            ...
            12939, 12940, 12941, 12942, 12943, 12944, 12945, 12946, 12947,
            12948],
           dtype='int64', length=174),
 (3, 20): Int64Index([12949, 12950, 12951, 12952, 12953, 12954, 12955, 12956, 12957,
            12958,
            ...
            13143, 13144, 13145, 13146, 13147, 13148, 13149, 13150, 13151,
            13152],
           dtype='int64', length=204),
 (3, 21): Int64Index([13153, 13154, 13155, 13156, 13157, 13158, 13159, 13160, 13161,
            13162,
            ...
            13324, 13325, 13326, 13327, 13328, 13329, 13330, 13331, 13332,
            13333],
           dtype='int64', length=181),
 (3, 22): Int64Index([13334, 13335, 13336, 13337, 13338, 13339, 13340, 13341, 13342,
            13343,
            ...
            13493, 13494, 13495, 13496, 13497, 13498, 13499, 13500, 13501,
            13502],
           dtype='int64', length=169),
 (3, 23): Int64Index([13503, 13504, 13505, 13506, 13507, 13508, 13509, 13510, 13511,
            13512,
            ...
            13670, 13671, 13672, 13673, 13674, 13675, 13676, 13677, 13678,
            13679],
           dtype='int64', length=177),
 (3, 24): Int64Index([13680, 13681, 13682, 13683, 13684, 13685, 13686, 13687, 13688,
            13689,
            ...
            13848, 13849, 13850, 13851, 13852, 13853, 13854, 13855, 13856,
            13857],
           dtype='int64', length=178),
 (3, 25): Int64Index([13858, 13859, 13860, 13861, 13862, 13863, 13864, 13865, 13866,
            13867,
            ...
            14041, 14042, 14043, 14044, 14045, 14046, 14047, 14048, 14049,
            14050],
           dtype='int64', length=193),
 (3, 26): Int64Index([14051, 14052, 14053, 14054, 14055, 14056, 14057, 14058, 14059,
            14060,
            ...
            14220, 14221, 14222, 14223, 14224, 14225, 14226, 14227, 14228,
            14229],
           dtype='int64', length=179),
 (3, 27): Int64Index([14230, 14231, 14232, 14233, 14234, 14235, 14236, 14237, 14238,
            14239,
            ...
            14399, 14400, 14401, 14402, 14403, 14404, 14405, 14406, 14407,
            14408],
           dtype='int64', length=179),
 (3, 28): Int64Index([14409, 14410, 14411, 14412, 14413, 14414, 14415, 14416, 14417,
            14418,
            ...
            14552, 14553, 14554, 14555, 14556, 14557, 14558, 14559, 14560,
            14561],
           dtype='int64', length=153),
 (3, 29): Int64Index([14562, 14563, 14564, 14565, 14566, 14567, 14568, 14569, 14570,
            14571,
            ...
            14736, 14737, 14738, 14739, 14740, 14741, 14742, 14743, 14744,
            14745],
           dtype='int64', length=184),
 (3, 30): Int64Index([14746, 14747, 14748, 14749, 14750, 14751, 14752, 14753, 14754,
            14755,
            ...
            14899, 14900, 14901, 14902, 14903, 14904, 14905, 14906, 14907,
            14908],
           dtype='int64', length=163),
 (3, 31): Int64Index([14909, 14910, 14911, 14912, 14913, 14914, 14915, 14916, 14917,
            14918,
            ...
            15086, 15087, 15088, 15089, 15090, 15091, 15092, 15093, 15094,

In [47]:
# 집계하는 방법.
# 항공사별 출발 지연시간의 평균을 보고 싶다.
# 그룹별로 묶은 다음에 평균을 내고 싶은 컬럼 붙히고 함수 마지막에 붙힌다.
flights.groupby('AIRLINE')['DEP_DELAY'].mean().sort_values()

AIRLINE
AS     1.808594
HA     2.571429
US     4.361355
DL     7.242450
VX     8.918946
EV     9.092625
OO     9.662279
MQ    11.094323
AA    11.274057
WN    12.639366
B6    14.287823
F9    14.310398
UA    16.210485
NK    19.514401
Name: DEP_DELAY, dtype: float64

In [50]:
# 항공사별 출발 지연시간의 최소,최대(여러 집계를 한번에.agg())
result = flights.groupby('AIRLINE')['DEP_DELAY'].agg(['min','max', min_max_diff])
result
# gb['DEP_DELAY'].agg(['min', 'max'])

          min     max  min_max_diff
AIRLINE
AA      -15.0   835.0         850.0
AS      -22.0   338.0         360.0
B6      -19.0   348.0         367.0
DL      -17.0   755.0         772.0
EV      -17.0   672.0         689.0
F9      -19.0   852.0         871.0
HA      -24.0   298.0         322.0
MQ      -12.0   342.0         354.0
NK      -16.0   461.0         477.0
OO      -20.0   735.0         755.0
UA      -18.0  1194.0        1212.0
US      -15.0   439.0         454.0
VX      -13.0   253.0         266.0
WN      -14.0   476.0         490.0

In [52]:
# 항공사별 출발지연시간과 도착지연시간의 평균 ( 집계할 대상 컬럼이 여러개 )
# 에어라인 그룹 안에서 출발지연시간, 도착지연시간을 나누고, 평균 구하기.
flights.groupby('AIRLINE')[['DEP_DELAY', 'ARR_DELAY']].mean()

         DEP_DELAY  ARR_DELAY
AIRLINE
AA       11.274057   5.542661
AS        1.808594  -0.833333
B6       14.287823   8.692593
DL        7.242450   0.339691
EV        9.092625   7.034580
F9       14.310398  13.630651
HA        2.571429   4.972973
MQ       11.094323   6.860591
NK       19.514401  18.436070
OO        9.662279   7.593463
UA       16.210485   7.765755
US        4.361355   1.681105
VX        8.918946   5.348884
WN       12.639366   6.397353

In [53]:
### 선생님 것 ####

flights.groupby('AIRLINE')[['DEP_DELAY', 'ARR_DELAY']].agg(['min','max'])

        DEP_DELAY         ARR_DELAY
              min     max       min     max
AIRLINE
AA          -15.0   835.0     -60.0   858.0
AS          -22.0   338.0     -57.0   344.0
B6          -19.0   348.0     -51.0   331.0
DL          -17.0   755.0     -57.0   741.0
EV          -17.0   672.0     -39.0   669.0
F9          -19.0   852.0     -43.0   839.0
HA          -24.0   298.0     -44.0   298.0
MQ          -12.0   342.0     -37.0   357.0
NK          -16.0   461.0     -39.0   474.0
OO          -20.0   735.0     -44.0   724.0
UA          -18.0  1194.0     -58.0  1185.0
US          -15.0   439.0     -51.0   431.0
VX          -13.0   253.0     -51.0   236.0
WN          -14.0   476.0     -52.0   493.0

##  복수열 기준 그룹핑
- 두개 이상의 열을 그룹으로 묶을 수 있다. 
- groupby의 매개변수에 그룹으로 묶을 컬럼들의 이름을 리스트로 전달한다.

In [55]:
# 출발/ 도착공항 별로 출발지연시간의 평균.
# flights.columns
# flights['ORG_AIR'].value_count()
# flights['DEST_AIR'].value_count()

flights.groupby(['ORG_AIR', 'DEST_AIR']).groups

{('ATL', 'ABE'): [2301, 3377, 5181, 9110, 9683, 10555, 11829, 13186, 13506, 18301, 19741, 20011, 24060, 26643, 26784, 26910, 27199, 28273, 29610, 30024, 31592, 31605, 33482, 34971, 37112, 37120, 39797, 43052, 44617, 47595, 56213], ('ATL', 'ABQ'): [1203, 5930, 10240, 17991, 20931, 22167, 23234, 24148, 32237, 32613, 35631, 38683, 44762, 46213, 47418, 54513], ('ATL', 'ABY'): [3826, 10191, 11009, 13339, 14026, 18072, 18533, 25533, 36339, 41491, 45070, 45527, 47607, 48539, 50647, 51684, 52987, 53487, 57889], ('ATL', 'ACY'): [18512, 26095, 32680, 34071, 36492, 43793], ('ATL', 'AEX'): [957, 1443, 1598, 3741, 4264, 9622, 11015, 14256, 14563, 18646, 21021, 21952, 22772, 24601, 24814, 28056, 32525, 35556, 36811, 38408, 39723, 39932, 41212, 41803, 41891, 42765, 42949, 43360, 44313, 45035, 45862, 47639, 50135, 51076, 51436, 53401, 53473, 54294, 55948, 56371], ('ATL', 'AGS'): [208, 742, 3273, 4922, 5929, 5957, 6805, 7411, 7475, 8135, 8140, 8737, 8772, 9105, 9336, 10138, 11043, 11453, 11878, 12768, 13831, 14394, 14517, 14945, 16669, 17769, 18500, 18611, 18686, 18934, 20223, 20571, 21716, 22069, 22607, 23510, 24062, 24962, 25431, 26932, 27312, 27566, 27756, 28651, 29177, 30911, 31021, 31189, 31231, 31472, 31507, 31685, 33158, 33429, 33667, 34293, 34901, 35045, 35640, 36296, 36433, 37378, 38258, 39705, 40725, 41113, 41436, 43657, 44166, 45121, 45575, 47000, 49634, 50463, 52054, 52974, 53777, 54552, 55313, 55708, 56527, 57479, 58438], ('ATL', 'ALB'): [6975, 7628, 8752, 10284, 12178, 13063, 13484, 14956, 18028, 18386, 19471, 20363, 20389, 20511, 29561, 29677, 31424, 32788, 34121, 34374, 38132, 38186, 38526, 43380, 45396, 46408, 46849, 48307, 48723, 50349, 52473, 53537, 55403], ('ATL', 'ANC'): [31035, 40675], ('ATL', 'ASE'): [297], ('ATL', 'ATW'): [412, 11087, 12203, 15515, 29900, 40026, 44677, 50024, 52689, 57603], ('ATL', 'AUS'): [182, 1054, 1123, 2510, 2550, 3361, 4023, 5051, 5156, 6498, 6872, 7492, 8441, 8738, 8965, 9042, 9932, 10751, 11965, 12013, 12918, 13432, 14158, 14788, 15562, 15609, 16274, 16881, 16973, 17884, 18180, 18700, 19001, 19026, 19099, 20994, 21347, 21562, 23849, 23881, 24145, 25530, 25727, 26085, 27428, 27632, 27968, 28345, 28630, 29451, 29687, 30890, 31815, 32056, 33154, 33192, 33773, 33831, 33963, 34039, 34755, 35392, 35447, 35838, 36195, 36210, 37336, 37481, 37541, 38964, 39118, 39623, 39838, 40332, 40951, 42434, 42878, 43357, 43382, 44274, 44686, 44690, 44886, 45072, 45466, 45511, 46650, 47295, 47559, 48663, 49364, 51041, 51369, 52228, 52262, 52557, 52789, 53131, 53272, 54479, ...], ('ATL', 'AVL'): [1799, 4242, 4895, 5653, 5776, 5888, 6253, 6825, 8708, 11048, 13261, 13629, 13989, 16793, 17126, 17438, 19270, 22497, 23238, 24581, 24614, 27424, 28478, 29726, 29884, 30507, 31245, 31823, 31854, 34096, 34283, 34735, 35173, 35195, 36197, 36451, 36652, 38147, 39108, 39918, 41187, 42054, 42170, 46671, 48809, 49004, 51674, 52264, 52470, 52944, 53012, 53101, 54112, 56088, 57516, 58186], ('ATL', 'AVP'): [9615, 14087, 15462, 15960, 19541, 23179, 26970, 27174, 29009, 33348, 40883, 42604, 46862, 53461], ('ATL', 'BDL'): [680, 930, 1739, 3950, 4144, 6473, 6743, 7645, 7952, 8559, 8680, 8831, 8947, 9476, 9648, 9842, 9888, 10288, 11561, 12225, 12927, 13748, 14057, 15812, 18337, 19172, 19880, 20981, 21732, 21938, 21991, 22576, 23513, 24114, 24463, 25549, 26075, 26292, 27879, 29531, 29811, 30752, 31836, 32726, 33178, 34309, 35789, 36498, 36564, 36617, 37459, 37860, 39774, 40639, 41478, 45208, 45512, 46367, 47285, 48702, 49062, 49857, 51384, 51479, 53423, 53816, 55012, 55704, 55891], ('ATL', 'BHM'): [158, 2775, 3097, 3221, 3267, 3887, 4271, 6311, 7253, 7719, 8087, 8924, 9088, 10105, 10195, 10673, 11269, 11502, 13393, 13467, 14081, 14746, 15129, 15477, 16382, 16867, 17307, 17926, 18207, 19668, 20520, 20920, 21255, 21603, 22417, 23026, 23276, 23866, 24099, 25129, 25566, 26088, 26455, 26578, 28142, 29673, 29742, 29901, 30476, 31419, 33649, 33774, 33819, 35530, 35569, 35916, 37732, 38020, 38061, 38376, 38414, 38510, 39179, 40049, 41689, 41952, 43058, 45405, 45630, 45791, 47251, 47652, 49302, 49402, 51088, 51172, 51214, 51675, 52077, 54076, 55374, 55731, 55989, 56769, 58000, 58235], ('ATL', 'BMI'): [2008, 10580, 17250, 17789, 19885, 24358, 27170, 27252, 29372, 30675, 32261, 33904, 34128, 37122, 39072, 39076, 39516, 42631, 43922, 53312, 58241], ('ATL', 'BNA'): [602, 895, 938, 1298, 1316, 2774, 2924, 4285, 4387, 4451, 4768, 5212, 6279, 6438, 7678, 7823, 8448, 9563, 10243, 10421, 11660, 11819, 12496, 12640, 13474, 13583, 13868, 14522, 14603, 15237, 15677, 16641, 16770, 18367, 18427, 18493, 19162, 21393, 21613, 22733, 23185, 24168, 24234, 24257, 24279, 24665, 24720, 25226, 25418, 26373, 27805, 27860, 28049, 28702, 28810, 29655, 30262, 32378, 32537, 32964, 33512, 33560, 33843, 33883, 34750, 35138, 35972, 36020, 36377, 37015, 37220, 38041, 38326, 38392, 38407, 38681, 40681, 40711, 41606, 42431, 42719, 42897, 42962, 43690, 44024, 44460, 44765, 45529, 46152, 46292, 46538, 46932, 47146, 47821, 48441, 48697, 49105, 49271, 50892, 51879, ...], ('ATL', 'BOS'): [435, 752, 811, 1001, 1069, 1457, 1533, 1809, 2357, 2871, 3181, 3714, 3920, 4219, 4487, 5382, 6689, 6933, 7271, 7833, 8636, 8894, 9099, 9257, 9878, 9976, 10215, 10310, 10355, 10437, 10560, 11172, 11301, 11429, 11482, 11773, 12243, 12286, 12421, 12839, 13097, 13248, 13462, 13655, 14345, 14670, 15399, 15507, 15929, 16675, 16939, 18127, 18834, 18954, 19896, 20499, 20899, 22143, 22187, 22346, 22508, 22776, 22812, 24133, 24806, 24873, 24936, 25349, 27135, 27925, 28003, 28250, 28401, 28576, 28685, 29275, 29696, 29777, 30124, 30169, 30435, 30612, 31225, 31719, 31932, 33096, 33463, 33731, 34020, 34136, 34770, 35272, 35313, 36495, 37891, 38300, 38516, 38783, 39400, 39473, ...], ('ATL', 'BQK'): [3466, 3987, 4495, 5157, 7530, 10309, 14627, 18510, 21636, 21997, 25088, 27964, 28210, 29892, 32527, 32768, 33841, 34237, 35371, 37631, 37932, 43123, 44117, 48294, 49196, 50278, 50738, 55579, 56885], ('ATL', 'BTR'): [251, 761, 1689, 3728, 4167, 5677, 6299, 6398, 8574, 8816, 9531, 10048, 10767, 11245, 12232, 14485, 14804, 15387, 15564, 15807, 15903, 16462, 17132, 17402, 18457, 18665, 19032, 20447, 21230, 22132, 23150, 23367, 23695, 25977, 27628, 28786, 29861, 31439, 33585, 34825, 35532, 35788, 38028, 38173, 38359, 38883, 39718, 40193, 41128, 41382, 42017, 42679, 43057, 44010, 45906, 45940, 46412, 46510, 46517, 46991, 47123, 47223, 48498, 48737, 49459, 50012, 50309, 50386, 53197, 53749, 54670, 55119, 55508, 55557, 56695, 58397], ('ATL', 'BTV'): [7430, 9610, 9763, 11797, 19620, 19943, 24400, 27725, 30715, 31602, 37332, 47227, 54569, 55440], ('ATL', 'BUF'): [3456, 4379, 5576, 5587, 6044, 6623, 8748, 12062, 15031, 15618, 17988, 20781, 22349, 23133, 23136, 28848, 30017, 30595, 34236, 34990, 35235, 35905, 37727, 38344, 39125, 40311, 40476, 42177, 43115, 43198, 46352, 46975, 47039, 47246, 49443, 50339, 50408, 51440, 52210, 54516, 56746, 58138], ('ATL', 'BWI'): [20, 274, 617, 775, 1852, 2136, 2340, 2495, 2573, 2598, 2905, 3397, 3676, 3827, 4360, 5068, 5414, 5548, 6090, 6223, 6328, 7027, 7118, 7630, 7737, 8138, 9234, 10365, 10573, 11426, 11627, 12017, 12819, 13031, 14138, 15747, 15972, 16043, 16747, 16757, 16827, 16949, 17006, 17114, 17627, 17646, 17888, 17938, 18084, 18109, 18246, 19241, 19360, 19795, 20696, 21225, 21547, 21666, 21717, 23000, 23533, 23845, 24746, 24961, 25086, 25099, 25269, 25715, 26412, 26525, 27639, 28016, 28263, 28398, 28642, 28966, 29070, 29120, 29266, 29377, 29414, 29825, 29858, 30899, 30944, 31130, 31267, 31350, 31917, 31972, 32107, 32340, 32467, 32815, 32872, 32943, 32956, 33237, 33873, 34028, ...], ('ATL', 'BZN'): [43931], ('ATL', 'CAE'): [424, 525, 822, 2093, 3308, 3458, 3730, 4278, 6035, 6912, 8691, 11306, 11323, 12597, 12988, 13191, 13269, 15385, 16319, 16900, 17286, 17763, 18719, 19182, 19231, 19327, 19998, 20446, 20681, 20705, 23987, 24022, 26097, 26447, 26621, 27143, 27358, 29752, 30456, 30517, 30529, 31190, 32003, 32449, 32584, 33087, 34744, 34858, 35893, 36025, 36456, 36471, 36580, 36591, 37124, 38198, 38841, 38985, 39649, 40533, 44082, 46962, 47997, 48224, 48942, 49346, 49794, 50873, 53281, 53330, 53346, 53382, 53874], ('ATL', 'CAK'): [570, 1850, 1997, 2255, 2411, 3540, 3753, 5452, 6213, 7679, 8532, 9220, 9814, 10930, 11865, 12395, 13853, 13948, 16005, 17131, 17945, 19146, 19731, 19900, 20460, 21128, 21529, 22319, 24770, 25921, 26352, 27310, 30133, 30385, 31896, 34138, 34222, 34287, 36659, 44874, 44995, 45323, 45795, 46402, 47678, 47698, 48169, 48857, 49068, 51650, 53126, 53847, 55157, 56186, 56943, 57655], ('ATL', 'CHA'): [936, 2315, 2501, 3214, 3464, 4508, 4669, 4863, 7872, 8790, 9387, 10459, 11130, 11735, 13042, 13427, 14239, 15221, 16554, 17705, 18209, 18231, 19603, 21198, 21705, 22023, 23329, 23838, 25561, 25910, 27576, 28677, 28686, 29810, 30192, 30325, 32727, 33216, 33990, 34281, 35401, 35991, 37303, 37486, 38910, 39419, 39651, 39750, 40975, 41361, 43574, 44607, 46735, 47122, 47667, 47872, 48305, 48456, 48679, 49693, 50123, 50125, 50303, 50718, 52436, 52548, 52592, 53606, 53822, 54163, 54405, 55507, 55570, 58011, 58069], ('ATL', 'CHO'): [1354, 2989, 3109, 3615, 4003, 5095, 5534, 9023, 12679, 15912, 17429, 18137, 18357, 22022, 23050, 25339, 25356, 25914, 31173, 31282, 32006, 40224, 42000, 50867, 53263, 54623, 54710, 56244], ('ATL', 'CHS'): [654, 934, 2265, 2714, 3644, 4269, 4913, 5025, 6252, 7620, 8375, 8506, 9404, 10627, 10913, 11916, 13242, 13277, 13718, 13808, 14073, 14741, 15984, 16687, 17428, 17969, 18144, 18158, 18630, 18928, 19041, 19449, 20094, 20110, 20813, 21024, 22000, 22659, 23131, 23705, 23932, 24468, 25144, 25970, 27492, 29521, 29667, 30353, 31709, 32579, 33049, 34079, 34795, 34830, 35379, 35632, 35869, 36146, 37275, 37297, 38220, 38339, 39174, 39740, 40066, 40998, 41026, 41729, 41738, 42226, 42708, 43042, 43559, 43815, 46009, 46701, 46751, 46976, 47270, 47937, 48640, 49157, 49691, 50158, 50884, 51044, 52884, 53348, 54090, 54246, 55130, 55505, 57032], ('ATL', 'CID'): [264, 414, 1357, 5868, 6217, 7454, 13458, 13606, 13854, 19309, 19944, 21495, 22135, 29891, 32062, 32895, 35304, 38291, 40589, 41234, 43178, 43798, 47725, 50221, 55770, 56998, 57567], ('ATL', 'CLE'): [129, 1858, 2129, 2730, 2839, 4581, 5546, 5891, 6370, 6844, 8508, 10646, 10895, 11191, 11395, 12764, 12837, 13009, 13057, 14387, 14553, 14848, 14855, 14952, 15151, 16938, 17485, 17739, 17910, 18290, 19205, 20347, 21034, 21184, 21795, 22416, 22637, 22836, 23448, 23879, 24105, 25121, 25171, 25484, 27897, 28621, 29034, 30003, 30870, 31275, 31443, 32517, 35160, 35186, 35285, 35975, 36145, 36686, 37724, 38463, 38512, 38803, 38847, 39255, 39265, 39341, 40196, 40261, 40734, 43362, 43508, 44258, 45264, 45764, 45863, 46260, 46641, 47059, 48317, 49929, 51688, 52005, 52674, 52683, 52720, 53120, 53421, 54433, 55670, 57283, 58036, 58203], ('ATL', 'CLT'): [153, 1617, 1708, 1980, 2790, 2829, 2951, 3359, 4103, 4249, 4331, 5343, 5371, 5932, 6136, 6188, 6867, 7125, 7696, 7782, 8187, 9339, 9597, 9676, 9951, 10253, 10358, 10514, 11028, 11033, 11680, 11892, 12683, 12944, 13182, 14647, 14701, 14740, 14878, 15030, 15154, 15173, 15403, 15875, 16076, 16358, 16766, 17645, 18036, 18701, 18707, 18777, 18806, 18931, 18986, 19016, 19087, 20074, 20450, 20678, 21226, 21983, 22071, 22308, 22619, 23203, 23230, 23239, 23517, 24035, 25241, 25553, 25648, 26438, 26539, 26700, 26821, 27245, 27616, 27625, 28070, 28505, 29090, 29385, 29439, 29899, 30199, 30267, 32396, 32445, 32740, 32784, 32820, 32959, 33069, 33308, 33421, 34105, 34700, 35128, ...], ('ATL', 'CMH'): [535, 1694, 2089, 3809, 4329, 4349, 4539, 4608, 4752, 5489, 7029, 7840, 8863, 8944, 9494, 9634, 10037, 10123, 11480, 11505, 11681, 12909, 13881, 13969, 14581, 17707, 17984, 18504, 20946, 22070, 22860, 23159, 23328, 25043, 26316, 26917, 28593, 28717, 29447, 29607, 30066, 30092, 30554, 30948, 31044, 31174, 31648, 33751, 35599, 36848, 36969, 38602, 38662, 38672, 38902, 40933, 41181, 41279, 41537, 41670, 42268, 43305, 43355, 43730, 43746, 44382, 45193, 45394, 46110, 46405, 46484, 47732, 47812, 47926, 48323, 48563, 49617, 49725, 50151, 50539, 50569, 51277, 51304, 51839, 51964, 52116, 53655, 53882, 54470, 54866, 55298, 56173, 56397, 56676, 56738, 57047, 57258, 57349, 58485], ('ATL', 'COS'): [31236, 32883, 37658, 41821, 44868, 47746, 53888, 56620], ('ATL', 'CRW'): [170, 580, 583, 1321, 1572, 6638, 8518, 8589, 9661, 11666, 12715, 12895, 13332, 13491, 14626, 15132, 16883, 17815, 18266, 19512, 20027, 21557, 24037, 28422, 29277, 29359, 31089, 31928, 32751, 34292, 36732, 37566, 41137, 41277, 44570, 44788, 46192, 53217, 53707, 56585, 56864, 57711], ('ATL', 'CSG'): [5752, 6845, 8232, 10615, 10856, 10882, 11915, 12782, 22577, 24070, 25225, 25853, 28135, 28608, 30796, 30992, 31471, 32704, 33222, 35471, 35696, 36286, 37807, 43454, 44826, 46800, 47622, 49262, 49702, 51748, 52506, 56774], ('ATL', 'CVG'): [909, 949, 1189, 1346, 2259, 2489, 2982, 3686, 4184, 5723, 6367, 6493, 6830, 6942, 7431, 9889, 9891, 10658, 11057, 11124, 11709, 12246, 13077, 16405, 16429, 18918, 21419, 21787, 25205, 25615, 26430, 26841, 27184, 27330, 27417, 30482, 31627, 31760, 32160, 32476, 32565, 33220, 33517, 34181, 34387, 36835, 37318, 39763, 39970, 40434, 40609, 41014, 42571, 42699, 43175, 43480, 43555, 43720, 44203, 44370, 45118, 45500, 46614, 48166, 48782, 51472, 52161, 52705, 54739, 55926, 56296, 57805, 58148, 58440], ('ATL', 'DAB'): [584, 1166, 1480, 1525, 3893, 4871, 5436, 6842, 8065, 8784, 9765, 9867, 10739, 11901, 12585, 13657, 14635, 14949, 15348, 15505, 15951, 16379, 18780, 21726, 21852, 22344, 24119, 24137, 25176, 27787, 28321, 29082, 31365, 32023, 32787, 34180, 35106, 35769, 36597, 36704, 37347, 42044, 44427, 46066, 51048, 52255, 53162, 53681, 56168], ('ATL', 'DAL'): [373, 904, 1065, 1077, 1209, 1368, 1631, 3683, 3771, 5163, 7468, 11688, 12186, 12429, 12790, 13170, 13345, 14763, 14864, 14957, 17276, 17883, 18372, 19034, 20272, 20997, 21471, 22052, 22185, 22230, 22704, 22737, 22755, 23126, 23709, 24365, 25557, 25708, 25781, 26289, 27137, 27436, 27870, 28586, 29097, 30147, 30614, 31652, 33167, 33772, 35602, 36406, 37975, 38436, 38459, 38632, 40466, 41726, 42710, 42713, 45406, 46139, 47198, 47260, 47377, 48188, 48208, 48612, 48717, 50692, 50723, 51525, 52031, 52409, 52482, 52894, 53439, 54143, 54396, 54515, 57183, 57515], ('ATL', 'DAY'): [1984, 2727, 3369, 4262, 4545, 6481, 7517, 7688, 8149, 8302, 8609, 9062, 10075, 12182, 13441, 13838, 13950, 14337, 17261, 17642, 18008, 19250, 20517, 20839, 22532, 23745, 23971, 24088, 24396, 26591, 26787, 27980, 28296, 29181, 29593, 30397, 32189, 32194, 35691, 36532, 38490, 41221, 41276, 42015, 42100, 44071, 44104, 45014, 47151, 47426, 49359, 51858, 54004, 57471, 57580], ('ATL', 'DCA'): [207, 259, 1362, 1828, 3468, 4373, 4477, 4689, 4741, 4823, 5545, 5988, 6065, 6167, 6851, 7930, 8199, 8332, 8350, 8425, 8456, 8484, 8726, 8903, 8982, 9184, 10094, 10104, 10746, 11125, 11267, 12008, 12371, 12461, 12583, 14460, 14588, 14660, 14758, 14862, 14924, 15058, 15061, 15294, 15688, 16153, 16667, 16889, 17038, 17297, 17340, 18415, 18502, 18767, 18771, 19323, 19384, 19573, 19922, 20719, 20943, 22078, 22464, 22480, 22712, 22887, 23145, 23436, 23524, 23802, 25206, 26221, 26239, 27130, 27186, 28181, 28486, 28877, 28956, 28965, 29026, 29116, 29206, 29253, 29425, 29895, 30014, 30832, 31517, 31819, 31828, 33066, 33085, 33668, 33822, 34030, 34162, 34983, 35618, 36955, ...], ('ATL', 'DEN'): [93, 316, 515, 1830, 2756, 3928, 3972, 4435, 4613, 5350, 6387, 6449, 6680, 6995, 7660, 8089, 8176, 8314, 8348, 8392, 8872, 9344, 9650, 9820, 10051, 10100, 10845, 11099, 11402, 12628, 12859, 13542, 13572, 14010, 14501, 14827, 15456, 17407, 17427, 17712, 19002, 19233, 19420, 19598, 20352, 20830, 21122, 21451, 21528, 22118, 23997, 24855, 25704, 25928, 26123, 26364, 26418, 26927, 26978, 27048, 27306, 27819, 28006, 28176, 28453, 29665, 29838, 30449, 30466, 32389, 32422, 33579, 33930, 34213, 34463, 34581, 34671, 34866, 35120, 35366, 36325, 37499, 38053, 38227, 38297, 38515, 38754, 38935, 39338, 40103, 40651, 40689, 40936, 41410, 42020, 42780, 43256, 43772, 43847, 43871, ...], ('ATL', 'DFW'): [517, 782, 1117, 1714, 1876, 2017, 2258, 2665, 2988, 3485, 4402, 4572, 4748, 4808, 4845, 5190, 5566, 5674, 5925, 6022, 6249, 6715, 7654, 7710, 7748, 8218, 8236, 9101, 9134, 9276, 9436, 9499, 9575, 9673, 9844, 10092, 10334, 10379, 10621, 10929, 11552, 11614, 11787, 12654, 12716, 13877, 14089, 14206, 14226, 14372, 14729, 15325, 15497, 15867, 15947, 16031, 16149, 16302, 16394, 16572, 16748, 16959, 16964, 16989, 17057, 17271, 17320, 17455, 17494, 17913, 17922, 17986, 18165, 18520, 19484, 19532, 19569, 20042, 20540, 20700, 21134, 21965, 22184, 22975, 23047, 23184, 23431, 23498, 24235, 24792, 25334, 25606, 25672, 25716, 26263, 26486, 27374, 27378, 27800, 28456, ...], ('ATL', 'DHN'): [959, 5459, 5678, 6462, 6955, 7326, 8789, 10049, 10247, 11580, 11919, 13894, 19074, 23528, 23760, 23950, 24130, 24458, 24671, 26495, 29450, 29566, 31660, 33420, 36181, 36674, 37380, 40291, 40859, 41474, 43203, 44118, 46317, 47770, 49156, 51152, 51230, 52378, 53460, 56715], ('ATL', 'DSM'): [1942, 4620, 5162, 5204, 7951, 9768, 10716, 14693, 18255, 19708, 23883, 25956, 28264, 35398, 37287, 40362, 41102, 41172, 43013, 46277, 49260, 49442, 49470, 51301, 54588, 56229, 56341, 57551], ('ATL', 'DTW'): [544, 1779, 1924, 2191, 2437, 2458, 2541, 3268, 3274, 3595, 4034, 4421, 4664, 4800, 5224, 5417, 6982, 7082, 7756, 10233, 10261, 10498, 10695, 11299, 11407, 11726, 12404, 14083, 14426, 15328, 15652, 15674, 16513, 16878, 17184, 17281, 17873, 18126, 18655, 18749, 19208, 19560, 19894, 20378, 20627, 20740, 21599, 21756, 22005, 23054, 23665, 24189, 24218, 24675, 25358, 25753, 25809, 26065, 27254, 27426, 27633, 27773, 29166, 29908, 30065, 30650, 31704, 34230, 34794, 35019, 35086, 35620, 36600, 36724, 36936, 36965, 37097, 37123, 37485, 37535, 37762, 38446, 38722, 40078, 40166, 40168, 40846, 41348, 41635, 42463, 43471, 43550, 43658, 43715, 43858, 43987, 44418, 44524, 44716, 44997, ...], ('ATL', 'ECP'): [992, 1583, 2379, 2467, 3244, 5595, 5999, 7589, 7633, 10639, 11379, 13398, 13745, 14094, 14189, 14268, 14583, 18855, 19243, 20379, 22093, 22552, 22850, 25923, 26741, 29005, 29129, 29222, 29656, 29913, 30964, 31413, 32112, 33174, 33302, 35068, 35582, 35612, 36642, 37368, 38517, 39068, 40112, 43280, 44100, 44320, 44357, 45621, 45661, 49070, 49330, 50069, 50528, 50943, 51228, 52619, 53288, 54225, 55379, 56434, 57583], ('ATL', 'EGE'): [407, 6139, 8086, 11975, 56401], ('ATL', 'ELP'): [4723, 6710, 9271, 14988, 21046, 27249, 35763, 37688, 40976, 41400, 47987, 49425, 49666, 56779], ('ATL', 'EVV'): [2086, 4308, 6954, 8596, 8606, 11447, 14537, 15304, 19451, 20201, 20439, 22865, 25590, 25766, 29737, 30197, 33835, 34146, 35849, 37707, 40866, 41730, 44105, 45545, 51159, 52584, 53789, 57250], ('ATL', 'EWN'): [6404, 12121, 19108, 20311, 31459, 34428, 36388, 36713, 42647, 49544, 50814, 53933, 55675], ('ATL', 'EWR'): [1963, 2245, 2362, 2442, 2504, 2773, 3300, 3334, 3787, 4250, 4313, 6305, 6572, 7493, 8573, 9804, 10541, 11180, 11394, 11707, 12290, 12721, 13193, 13307, 13750, 13992, 14231, 15431, 16256, 16541, 17160, 17411, 17530, 17882, 17885, 17895, 18567, 18585, 18891, 19125, 19210, 19344, 20422, 21016, 22563, 22800, 25570, 26414, 27119, 27595, 27743, 28461, 28735, 28950, 29613, 29765, 30015, 30208, 30266, 31197, 32179, 32764, 33338, 34672, 35347, 35517, 36779, 36886, 37025, 37261, 37595, 37600, 37769, 37835, 37942, 38169, 38317, 38537, 38598, 39025, 39201, 39360, 40185, 40249, 41210, 41224, 41742, 41801, 41907, 42445, 42581, 43423, 43642, 43656, 43883, 44948, 45053, 45337, 46324, 46726, ...], ('ATL', 'EYW'): [2791, 4801, 5916, 7463, 10046, 10523, 11876, 12906, 13499, 13527, 15249, 15573, 16783, 16914, 20588, 21552, 22694, 23540, 24267, 26111, 27188, 28060, 33149, 33821, 36527, 39521, 39927, 40889, 41972, 44209, 47824, 48226, 48527, 50777, 51400, 54523, 56354], ('ATL', 'FAY'): [2145, 2412, 3519, 4695, 6484, 7044, 7598, 10357, 10561, 10851, 12310, 13479, 13578, 13965, 14431, 15754, 16155, 16557, 18012, 24900, 25346, 25661, 26533, 26962, 27356, 27961, 28982, 29949, 30527, 31344, 33260, 34631, 34743, 35675, 38447,

In [57]:
flights.groupby(['ORG_AIR', 'DEST_AIR'])['DEP_DELAY'].mean()

ORG_AIR  DEST_AIR
ATL      ABE          9.612903
         ABQ          7.062500
         ABY         22.473684
         ACY          7.166667
         AEX         11.000000
                       ...
SFO      SNA          8.483051
         STL         25.100000
         SUN         17.700000
         TUS         14.200000
         XNA         -3.000000
Name: DEP_DELAY, Length: 1130, dtype: float64

In [59]:
# 출발공항/항공사 별 출발지연시간의 min/max
flights.groupby(['ORG_AIR', 'AIRLINE'])['DEP_DELAY'].agg(['min', 'max'])

                  min    max
ORG_AIR AIRLINE
ATL     AA      -11.0  345.0
        AS       -3.0   81.0
        DL      -14.0  702.0
        EV      -12.0  319.0
        F9      -14.0  640.0
...               ...    ...
SFO     OO      -20.0  306.0
        UA      -14.0  684.0
        US      -11.0  190.0
        VX      -10.0  209.0
        WN       -9.0  231.0

[114 rows x 2 columns]

In [65]:
pd.options.display.max_rows = 200  #판다스의 옵션 중에 보여주는 최대치 값을 200개로 해달라.(원래 기준은 60개이다. )

In [64]:
pd.options.display.max_columns = 200 #판다스의 옵션 중에 보여주는 최대치 컬럼 수를 30개로 해달라. (원래 기준은 20개이다. )

In [66]:
# 월별/항공사별 출발시간과 도착지연시간의 평균 - group의 기준컬럼-여러 개, 집계대상도 여러 개

flights.groupby(['MONTH', 'AIRLINE'])[['DEP_DELAY', 'ARR_DELAY']].mean()

               DEP_DELAY  ARR_DELAY
MONTH AIRLINE
1     AA       12.645740   9.436282
      AS        1.575758   2.090909
      B6        6.717391   2.913043
      DL        5.715496  -2.054545
      EV        9.898496   7.640152
      F9       14.821782  15.700000
      HA       -3.882353  -0.750000
      MQ       18.140449  20.837079
      NK       15.454545  13.776860
      OO       13.021583  13.433213
      UA       16.596965   8.837838
      US        1.774704   1.557312
      VX        4.600000   3.776471
      WN       11.159824   5.094118
2     AA        8.485816   6.262032
      AS       16.770492  14.622951
      B6       18.260870  21.000000
      DL        9.028061   3.605634
      EV        8.790698   8.702326
      F9       29.652632  29.863158
      HA       -0.888889  -0.777778
      MQ       23.792727  28.750000
      NK       11.203883  11.872549
      OO       12.594096  12.014787
      UA       13.096491   6.659051
      US        3.467290   1.242991
      VX        2.582278  -0.189873
      WN       10.423913   3.909798
3     AA       13.536337  10.639535
      AS       -0.492308  -4.446154
      B6       11.314286   4.400000
      DL        6.598223  -0.877349
      EV       12.121990   9.232258
      F9       17.611111  17.738318
      HA       -4.642857   6.000000
      MQ       13.383686  13.024465
      NK       11.216667  11.508333
      OO        7.907473   4.941281
      UA       16.089409   7.223757
      US        4.229323   2.335849
      VX       17.645570  14.227848
      WN       11.250980   4.916340
4     AA        9.127352   1.503628
      AS       -1.263889  -8.416667
      B6       10.318182   6.431818
      DL        6.333669  -0.433771
      EV        9.136842   7.093474
      F9        8.363636   8.836364
      HA       -4.833333  -2.166667
      MQ        9.486111   1.334495
      NK       17.628571  15.048544
      OO        7.412044   4.658147
      UA       13.416290   4.580303
      US        1.784946  -3.577061
      VX        3.231579   0.873684
      WN       12.064560   5.293388
5     AA       12.552995   7.549231
      AS        2.831169  -1.909091
      B6        7.981818  -2.490909
      DL        8.515271   0.725025
      EV        9.477444   8.754253
      F9       10.042857  12.685714
      HA       -0.769231  10.384615
      MQ        8.320819   1.078767
      NK       34.221374  32.946565
      OO        9.588685   7.605223
      UA       15.679012   8.254144
      US        5.741935   2.537634
      VX        7.977273   4.284091
      WN       13.103321   6.438964
6     AA       17.547684   9.968493
      AS       -2.282353  -4.223529
      B6       10.135593   1.864407
      DL       10.050949   3.736209
      EV       14.234848  12.163810
      F9       14.357143  13.750000
      HA       15.400000  14.600000
      MQ       14.439628   8.434783
      NK       39.689655  41.840278
      OO       13.702303  10.925743
      UA       24.098383  16.998647
      US        8.369637   5.574257
      VX       10.030000   7.650000
      WN       19.560150  14.058971
7     AA       13.305985   6.959302
      AS       -1.734177  -1.784810
      B6       22.750000  15.346154
      DL        8.205479   2.349705
      EV        7.258883   5.869048
      F9       17.404762  17.412698
      HA       -1.615385  -5.384615
      MQ        6.895570   1.256329
      NK       18.588235  17.235294
      OO        9.129032   6.184039
      UA       21.334545  12.303659
      VX       11.197674   7.372093
      WN       18.904110  13.458750
8     AA       11.137295   3.289990
      AS       -0.213115  -2.950820
      B6       13.274510   5.607843
      DL        7.607735   0.862546
      EV        7.758684   5.699083
      F9       11.617886  10.585366
      HA        5.100000  12.100000
      MQ        6.160410  -2.877133
      NK       24.455696  22.570513
      OO       10.465710   8.113965
      UA       14.090216   5.691720
      VX       10.175824   7.577778
      WN       12.123253   6.542675
9     AA        6.205819  -0.544276
      AS       -2.811594  -3.623188
      B6       12.254545   7.963636
      DL        2.937238  -3.660042
      EV        3.817227   1.004219
      F9        8.669643   4.990991
      HA       -5.750000   6.500000
      MQ        6.248252  -2.385965
      NK        8.349112   6.816568
      OO        4.976549   2.757576
      UA        9.309249   1.562952
      VX        0.707865  -4.741573
      WN        6.240152  -1.232824
11    AA       10.916575   4.450441
      AS        8.875000   6.515625
      B6       15.108696   8.478261
      DL        3.397790  -4.581215
      EV        6.940397   4.750000
      F9       12.008065  12.064516
      HA       37.875000  36.000000
      MQ        6.610526  -0.588652
      NK       13.138158  10.966887
      OO        6.481013   3.898734
      UA       14.144907   4.350072
      VX        6.164948   0.608247
      WN        8.548344   1.846154
12    AA        9.280488   4.531111
      AS        1.985507  -1.666667
      B6       27.905660  24.865385
      DL       10.904465   3.778586
      EV        9.475000   5.369021
      F9       16.155039   9.798450
      HA        0.250000 -18.250000
      MQ        7.113074   3.960993
      NK       18.797386  16.816993
      OO       11.482283   9.850299
      UA       18.674009   7.599411
      VX       22.979592  17.000000
      WN       14.622222   8.947575

In [70]:
## 월/항공사별 출발지연시간의 평균, 취소건수 (컬럼별로 다른 집계 )

d = {
    "DEP_DELAY": 'mean',
    "CANCELLED": 'sum'
}

flights.groupby(["AIRLINE", 'MONTH']).agg(d)

               DEP_DELAY  CANCELLED
AIRLINE MONTH
AA      1      12.645740          9
        2       8.485816         51
        3      13.536337         16
        4       9.127352          9
        5      12.552995         13
        6      17.547684         11
        7      13.305985          9
        8      11.137295          9
        9       6.205819          2
        11     10.916575         11
        12      9.280488         14
AS      1       1.575758          0
        2      16.770492          0
        3      -0.492308          0
        4      -1.263889          0
        5       2.831169          0
        6      -2.282353          0
        7      -1.734177          0
        8      -0.213115          0
        9      -2.811594          0
        11      8.875000          0
        12      1.985507          0
B6      1       6.717391          1
        2      18.260870          0
        3      11.314286          0
        4      10.318182          0
        5       7.981818          0
        6      10.135593          0
        7      22.750000          0
        8      13.274510          0
        9      12.254545          0
        11     15.108696          0
        12     27.905660          0
DL      1       5.715496         11
        2       9.028061         11
        3       6.598223          7
        4       6.333669          3
        5       8.515271          2
        6      10.050949          2
        7       8.205479          1
        8       7.607735          0
        9       2.937238          0
        11      3.397790          0
        12     10.904465          1
EV      1       9.898496          9
        2       8.790698         27
        3      12.121990         16
        4       9.136842         12
        5       9.477444         22
        6      14.234848         23
        7       7.258883          6
        8       7.758684          5
        9       3.817227          1
        11      6.940397          8
        12      9.475000         17
F9      1      14.821782          4
        2      29.652632          1
        3      17.611111          0
        4       8.363636          0
        5      10.042857          2
        6      14.357143          0
        7      17.404762          0
        8      11.617886          0
        9       8.669643          0
        11     12.008065          1
        12     16.155039          2
HA      1      -3.882353          0
        2      -0.888889          0
        3      -4.642857          0
        4      -4.833333          0
        5      -0.769231          0
        6      15.400000          0
        7      -1.615385          0
        8       5.100000          0
        9      -5.750000          0
        11     37.875000          0
        12      0.250000          0
MQ      1      18.140449         24
        2      23.792727         41
        3      13.383686         22
        4       9.486111          5
        5       8.320819         14
        6      14.439628         13
        7       6.895570          4
        8       6.160410          8
        9       6.248252          4
        11      6.610526          6
        12      7.113074         11
NK      1      15.454545          1
        2      11.203883          5
        3      11.216667          2
        4      17.628571          1
        5      34.221374          3
        6      39.689655          5
        7      18.588235          2
        8      24.455696          2
        9       8.349112          0
        11     13.138158          2
        12     18.797386          2
OO      1      13.021583         16
        2      12.594096         21
        3       7.907473         11
        4       7.412044         11
        5       9.588685         13
        6      13.702303         15
        7       9.129032         14
        8      10.465710         10
        9       4.976549          2
        11      6.481013          9
        12     11.482283         20
UA      1      16.596965         11
        2      13.096491         13
        3      16.089409          7
        4      13.416290          6
        5      15.679012          6
        6      24.098383         23
        7      21.334545          8
        8      14.090216          3
        9       9.309249          3
        11     14.144907          3
        12     18.674009         10
US      1       1.774704          5
        2       3.467290          6
        3       4.229323          7
        4       1.784946          1
        5       5.741935          2
        6       8.369637          0
VX      1       4.600000          1
        2       2.582278          3
        3      17.645570          0
        4       3.231579          1
        5       7.977273          0
        6      10.030000          0
        7      11.197674          1
        8      10.175824          0
        9       0.707865          0
        11      6.164948          0
        12     22.979592          0
WN      1      11.159824         12
        2      10.423913         16
        3      11.250980          6
        4      12.064560          9
        5      13.103321          4
        6      19.560150          8
        7      18.904110         11
        8      12.123253          7
        9       6.240152          5
        11      8.548344         11
        12     14.622222          4

In [71]:
flights['CANCELLED'].sum()

881

## Group 별 집계결과에서 특정 조건의 항목만 조회
- Groupby 집계 후 boolean indexing 처리한다.

In [76]:
# 항공사별 취소건수
result = flights.groupby('AIRLINE')['CANCELLED'].sum()
result[result>= 100].sort_values()

AIRLINE
OO    142
EV    146
MQ    152
AA    154
Name: CANCELLED, dtype: int64

# 사용자 정의 집계함수를 만들어 적용

## 사용자 정의 집계 함수 정의
- 매개변수
    1. Series 또는 DataFrame을 받을 매개변수(필수)
    2. 필요한 값을 받을 매개변수를 선언한다. (선택)

## agg() 를 사용해 사용자 정의 집계 함수 호출
- DataFrame.agg(func=None, axis=0, \*args, \*\*kwargs)
    - axis : 사용자 정의 함수에 전달할 값들(Series)의 축 지정
- Series.agg(func=None, axis=0, \*args, \*\*kwargs)
    - DataFrame의 agg와 매개변수 구조를 맞추기 위해 axis 지정한다. (kwargs를 이용해 매개변수 전달할 경우 axis는 생략해도 된다. - axis기본값 0을 그냥 쓰면 되므로. - keyword 인자 뒤에 position 인자는 안되서 *args로 값 전달시에는 axis를 지정해야 한다.)
- DataFrameGroupBy.agg(func, \*args, \*\*kwargs) : 
    - axis 지정안함.
    - 사용자 함수에 Series를 group 별로 전달한다.
- SeriesGroupBy.agg(func=None,  \*args, \*\*kwargs)  
    - axis 지정안함
    - 사용자 함수에 Series를 group 별로 전달한다.
  
- \*args, \*\*kwargs는 사용자 정의 함수에 선언한 매개변수가 있을 경우 전달할 값을 전달한다.  
    - 키워드 인자를 이용해 가변인자로 전달하는 것이 편하다.

# TODO

In [80]:
# 1. data/diamonds.csv 를 읽어 DataFrame 생성
dia = pd.read_csv('data/diamonds.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [82]:
# 2. 1에서 생성한 DataFrame의 정보 조회
#     - 배열의 shape조회
dia.shape

(53940, 10)

In [83]:
#     - DataFrame에 대한 정보조회
dia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [86]:
#     - 상/하위 5개 행 조회
dia.head(5)    #dia.tail()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [90]:
#     - 결측치 확인
dia.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [133]:
# 3. carat, price, depth의 합계, 평균, 최대, 최소 조회

dia.groupby(['carat', 'price','depth']).sum()

G    11292
E     9797
F     9542
H     8304
D     6775
I     5422
J     2808
Name: color, dtype: int64

In [95]:
dia.groupby(['carat', 'price','depth']).mean()

                   table      x      y     z
carat price depth
0.20  345   60.2    62.0   3.79   3.75  2.27
      367   59.0    60.0   3.81   3.78  2.24
            59.7    58.5   3.85   3.82  2.29
            59.8    62.0   3.79   3.77  2.26
            61.1    59.0   3.81   3.78  2.32
...                  ...    ...    ...   ...
4.01  15223 61.0    61.0  10.14  10.10  6.17
            62.5    62.0  10.02   9.94  6.24
4.13  17329 64.8    61.0  10.00   9.85  6.43
4.50  18531 65.8    58.0  10.23  10.16  6.72
5.01  18018 65.5    59.0  10.74  10.54  6.98

[48814 rows x 4 columns]

In [ ]:
result = dia.groupby(['carat', 'price','depth']).agg(['min', 'max', min_max_diff])
print(result)

In [136]:
###3번 문제 선생님 것.   ####선생님것 확인.
dia.groupby[['carat', 'price','depth']].agg(['sum','mean', 'min', 'max'])

TypeError: 'method' object is not subscriptable

In [137]:
# 4. price는 최대, 최소, color는 고유값의 개수를 조회
# dia['price'].aggregate(["min","max"])


dia.agg({
    "price": ['min','max'], 
    "color": 'nunique'
})

           price  color
min        326.0    NaN
max      18823.0    NaN
nunique      NaN    7.0

In [139]:
# 5. cut의 고유값별 개수를 조회
# dia(dia['cut'].unique()).value_count()
## 선생님 버전 ###
dia['cut'].value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

In [140]:
# 6. cut별 가격 평균 조회
# dia['cut'].agg('mean', skipna=True).count()
### 선생님 버전 ###
dia.groupby('cut')['price'].mean()

cut
Fair         4358.757764
Good         3928.864452
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Name: price, dtype: float64

In [142]:
# 7. cut별 가격 평균중 4000이상만 조회
### 선생님 버전 ###
result = dia.groupby('cut')['price'].mean()
result[result >= 4000]

cut
Fair       4358.757764
Premium    4584.257704
Name: price, dtype: float64

In [127]:
# 8. clarity별 carat 평균과 표준편차 조회
dia.groupby('clarity')['carat'].agg(['mean', 'std'])

             mean       std
clarity
I1       1.283846  0.632436
IF       0.505123  0.313433
SI1      0.850482  0.449652
SI2      1.077648  0.516653
VS1      0.727158  0.423529
VS2      0.763935  0.446292
VVS1     0.503321  0.299557
VVS2     0.596202  0.359697

In [147]:
# 9. cut과 color 별로 가격은 평균을 carat은 최대값을 조회 
# dia.groupby(['cut','color'])
# dia.groupby(['cut','color']).agg(['mean', 'min', 'max'])

### 선생님 버전 ###
result2 = dia.groupby(['cut', 'color']).agg({
    "price":'mean',
    "carat":"max"
})
result2

                       price  carat
cut       color
Fair      D      4291.061350   3.40
          E      3682.312500   2.04
          F      3827.003205   2.58
          G      4239.254777   2.60
          H      5135.683168   4.13
          I      4685.445714   3.02
          J      4975.655462   5.01
Good      D      3405.382175   2.04
          E      3423.644159   3.00
          F      3495.750275   2.67
          G      4123.482204   2.80
          H      4276.254986   3.01
          I      5078.532567   3.01
          J      4574.172638   3.00
Ideal     D      2629.094566   2.75
          E      2597.550090   2.28
          F      3374.939362   2.45
          G      3720.706388   2.54
          H      3889.334831   3.50
          I      4451.970377   3.22
          J      4918.186384   3.01
Premium   D      3631.292576   2.57
          E      3538.914420   3.05
          F      4324.890176   3.01
          G      4500.742134   3.01
          H      5216.706780   3.24
          I      5946.180672   4.01
          J      6294.591584   4.01
Very Good D      3470.467284   2.58
          E      3214.652083   2.51
          F      3778.820240   2.48
          G      3872.753806   2.52
          H      4535.390351   3.00
          I      5255.879568   4.00
          J      5103.513274   2.74

In [148]:
# 10. 9번 문제의 결과에서 가격의 평균이 5000이상이고 carat의 최대값이 3이상인 결과만 조회
result2[(result2['price'] >= 5000) & (result2['carat'] >= 3)]

                       price  carat
cut       color
Fair      H      5135.683168   4.13
Good      I      5078.532567   3.01
Premium   H      5216.706780   3.24
          I      5946.180672   4.01
          J      6294.591584   4.01
Very Good I      5255.879568   4.00

In [149]:
result2.query("price >= 5000 and carat >= 3")

                       price  carat
cut       color
Fair      H      5135.683168   4.13
Good      I      5078.532567   3.01
Premium   H      5216.706780   3.24
          I      5946.180672   4.01
          J      6294.591584   4.01
Very Good I      5255.879568   4.00